.title-3-text-bold {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 15.6px;
  font-weight: 600;
}

.flickity-page-dots .dot.is-selected {
  background-color: #f37b74;
}
.flickity-button-icon {
  display: none;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.conteudo {
  width: 450px;
}
.carrousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

/* Scroll hide */
.show-on-scroll {
  background-color: red;
}

/* Slider */
.slide {
  flex: 0 0 auto;
}

/* Features */
.active {
  background: white;
  padding: 16px;
  padding-right: 0;
  border-radius: 1.5rem /* 24px */;
  box-shadow: -4px 3px 12px 0px rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-color: rgb(229 231 235 / 1);
}

.active img {
  background-color: #f37b74;
  border-radius: 100px;
}

.active h3 {
  color: #f37b74;
}
/* Seclect button Pricing */
.is-selected {
  color: white !important;
}

/* Hover menu library */
.image-container {
  position: relative;
  display: inline-block;
}

.image-container:hover .overlay {
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.overlay button {
  background-color: #f37b74;
  color: white;
  padding: 12px 24px;
  border-radius: 980px;
  font-weight: bold;
}

/* Id Menu */
#menu {
  backdrop-filter: blur(8.65px);
}

// Tesst
.carousel {
  background: #eee;
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .carousel img {
    height: 400px;
  }
}
