* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* menu-link Header */
.menu-link {
  position: relative;
  transition: all 0.2s linear;
}
.menu-link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: auto;
  right: 0;
  width: 0;
  height: 3px;
  background-color: #f53838;
  transition: all 0.2s linear;
}
.menu-link:hover {
  color: #f53838;
}
.menu-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.title-3-text-bold {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  text-align: left;
  color: inherit;
  font-style: normal;
  font-size: 15.6px;
  font-weight: 600;
}

/* .flickity-page-dots .dot.is-selected {
  background-color: #f37b74;
}
.flickity-button-icon {
  display: none;
} */

.splide__pagination__page.is-active {
  background-color: #f37b74 !important;
}
.splide__pagination__page {
  background-color: #ababab !important;
  margin-right: 14px;
}

.splide__pagination.splide__pagination--ltr {
  position: absolute;
  bottom: -28px !important;
  justify-content: center;
  right: 0;
  left: 0;
  transition: all 0.5s;
}

/* cell number */
.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
}
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.conteudo {
  width: 450px;
}
.carrousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

/* Slider */
.slide {
  flex: 0 0 auto;
}

/* Features */
.active-features {
  background: white;
  padding: 16px;
  padding-right: 0;
  border-radius: 1.5rem /* 24px */;
  box-shadow: -4px 3px 12px 0px rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-color: rgb(229 231 235 / 1);
}

.active-features img {
  background-color: #f37b74;
  border-radius: 100px;
}

.active-features h3 {
  color: #f37b74;
}
/* Seclect button Pricing */
.is-selected {
  color: white !important;
  transition: all 0.4s ease-in-out;
}

/* Hover menu library */
.image-container {
  position: relative;
  display: inline-block;
}

.image-container:hover .overlay {
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.overlay button {
  background-color: #f37b74;
  color: white;
  padding: 12px 24px;
  border-radius: 980px;
  font-weight: bold;
}

/* Id Menu */
#menu {
  backdrop-filter: blur(8.65px);
}

// Tesst
.carousel {
  background: #eee;
}

.carousel img {
  display: block;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .carousel img {
    height: 400px;
  }
}

/* Aimation */
/* Btn Animation */
/* .btn-animation {
  position: relative;
  border: none;
  transition: all 0.2s ease;
}
.btn-animation:active {
  transform: scale(0.96);
}
.btn-animation:before {
  top: -10%;
}
.btn-animation:after {
  top: 10%;
}
.btn-animation:before,
.btn-animation:after {
  content: "";
  position: absolute;
  width: 150%;
  left: 50%;
  height: 200%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.btn-animation.animate::before {
  top: -70%;
  background-image: radial-gradient(circle, #da6e68 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #da6e68 20%, transparent 30%),
    radial-gradient(circle, #da6e68 20%, transparent 20%),
    radial-gradient(circle, #da6e68 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #da6e68 15%, transparent 20%),
    radial-gradient(circle, #da6e68 20%, transparent 20%),
    radial-gradient(circle, #da6e68 20%, transparent 20%),
    radial-gradient(circle, #da6e68 20%, transparent 20%),
    radial-gradient(circle, #da6e68 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.btn-animation.animate::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #da6e68 20%, transparent 20%),
    radial-gradient(circle, #da6e68 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #da6e68 15%, transparent 20%),
    radial-gradient(circle, #da6e68 20%, transparent 20%),
    radial-gradient(circle, #da6e68 20%, transparent 20%),
    radial-gradient(circle, #da6e68 20%, transparent 20%),
    radial-gradient(circle, #da6e68 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
} */
/* End Btn Animation */
