:root {
    --primary-color: #2196F3;
    --grey: #686868;
    --border-radius: 16px;
    --container-width: 100%;
}



body {
    height: 100%;
    color: var(--grey);
    padding: 5% !important;
    background-color: #f5f5f5!important;
}
/** {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}*/

.container-fluid {
    padding: 5% !important;
    background-color: #f5f5f5;
}
/*.sidebar{
    z-index: 0;
}

.tab-detail {
    z-index: 1;
}*/

ul.nav-tabs,
.tab-content,
.sidebar > nav {
    background-color: #fff;
    border-radius: var(--border-radius);
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 4%;
}

ul.nav-tabs>li {
    padding: 15px 25px;
    width: 100%;
}

ul.nav-tabs>li:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
}

ul.nav-tabs>li a {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--grey);
    transition: 0.1s linear all;
}

ul.nav-tabs>li a.active,
ul.nav-tabs>li a:hover {
    color: var(--primary-color);
    transition: 0.1s linear all;
}

ul.nav-tabs>li a i {
    margin-right: 20px;
}

.tab-content {
    height: 100%;   
    padding: 15px 30px;
}

.tab-pane > h3 {
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.content-upload {
    padding: 20px;
    border: 1px solid #e8e8e8;
    border-radius: var(--border-radius);
    text-align: center;
}
.content-upload i {
    font-size: 7em;
    color: #e8e8e8;
}
.content-upload p{
/*    color: var(--grey);*/
}

#information .section-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
#information .button-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
}
#information .button-content > span:last-child {
    font-size: 12px;
    color: var(--grey);
    font-style: italic;
}
.section-title {
    color: var(--grey);
    margin: 40px 0 20px 0;
    text-transform:  uppercase;
}

#information .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#information .form-group label {
    min-width: 150px;
    margin-right: 30px;
}
#information .form-group input{
    border-radius: var(--border-radius);
    max-width: 300px;
    min-height: 46px;
}
#information .form-group input::placeholder {
    color: #e8e8e8;
}

/*-------------------------------------- */
#order_history {

}
.card {
    border-radius: var(--border-radius)!important;
    margin-bottom: 10px;
    overflow: hidden;
}
.card > .card-header {
    border-bottom: unset;
    padding: 0!important;
    background: transparent;
}
button{
    width: 100%;
    padding: 10px 30px;
    border: unset;
    text-align: left;
    font-size: 14px!important;
    font-weight: 600;
    border-radius: var(--border-radius)!important;
    background-color: #21212105;
    transition:0.1s linear all;
}
button:hover{
    background-color: #21212112;
    transition:0.1s linear all;
}
.card > .card-header button {
    border-radius: unset!important;
}
.card > .card-header button:hover {

}
#accordion_order_history .id, #accordion_order_history .stt {
    font-weight: 900;
    font-size: 16px;
}
#accordion_order_history .id{
    color: var(--primary-color);
}
#accordion_order_history .stt {
    color: #66BB6A;
}
#accordion_order_history .co-2 {
    text-align: right;
}

.product-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
}

.product-item > .product-info {
    flex: auto;
    display: flex;
    justify-content: end;
}
.thumbnail, .bank-thumb, .res-thumb {
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.thumbnail img, .bank-thumb img, .res-thumb img{
    width: 100%;
    height: 100%;
}
.thumbnail img{
    object-fit: cover;    
}
.product-item .product-name, .product-item > .product-info .total {
    font-weight: 700;
    margin-left: 50px;
}
.product-item > .product-info .price {
    margin-left: 5px;
}
.order-total {
    text-align: right;
    font-size: 20px;
    font-weight: 900;
    color: var(--primary-color);
}


/*-------------------------------------- */
#address_book{

}
#address_book .my-address {
    font-weight: 300;
    margin: 5px 0;
}
#address_book .my-address .tag {
    font-weight: 600;
    color: var(--primary-color);
    background-color: #2196F32e;
    padding: 0 10px;
    border-radius: var(--border-radius);
}
#address_book .flag{
    color: var(--primary-color);
}
button.add-address, button.add-bank, .modal-footer > button, button.re-order, button.save-button {
    width: fit-content;
    background-color: var(--primary-color);
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 20px;
}
button.popup-button, button.bank-btn {
    padding: 15px 20px;
    margin-bottom: 10px;
}
.modal-footer > button.btn.btn-secondary {
    color: #6c757d;
    border-color: #6c757d;
    background: transparent;
}

/*-------------------------------------- */
#payment_information{

}
.bank-thumb {
    padding: 10px;
    background-color: #fff;
    margin-right: 10px;
}
button.bank-btn {
    display: flex;
    align-items: center;
}

.bank-thumb img{
    object-fit: contain;
}
.bank-fullname {
    font-size: 12px;
    font-weight: 300;
}
button.bank-btn .bank-info {
    flex: auto;
}


/*-------------------------------------- */
#wishlist{

}
#wishlist .card > .card-header button {
    padding: 15px;
}

#wishlist .res-item {
    display: flex;
    align-items: center;
}
.res-thumb {
    background-color: #fff;
    margin-right: 10px;
}
.res-thumb img{
    object-fit: contain;
}

.res-address, .res-phone {
    font-size: 12px;
    font-weight: 300;
}
button.re-order{
    margin-top: 10px;
}
#wishlist .card-body {
    padding: 1rem 1rem 0 5rem;
}

@media (max-width: 1024px) {}

@media(max-width: 768px), (max-width: 930px) and (orientation: landscape) {
    ul.nav-tabs>li {
        padding: 10px 15px;
    }
    ul.nav-tabs>li a {
        font-size: 14px;
    }
    ul.nav-tabs>li a i {
        margin-right: 5px;
    }
    .product-item .product-name, .product-item > .product-info .total {
        margin-left: 10px;
    }
}

@media (max-width: 767px) {
    .thumbnail, .bank-thumb {
        width: 50px;
        min-width: 50px;
        height: 50px;
    }
    button.popup-button, button.bank-btn {
        padding: 10px;
    }
    .tab-detail {
        z-index: 1;
    }
    .sidebar {
        padding: 0!important;
        z-index: 999999;
    }
    .sidebar > nav{
        margin-bottom: 20px;
    }
    .navbar-dark .navbar-toggler{

    }
    .navbar-dark .navbar-toggler-icon{
        filter: brightness(0%);
    }
    ul.nav-tabs{
        border-radius: unset;
    }
    .upload-box-crop,
    div#fileDisplay,
    .file .image-container{
        width: 100%;
    }
    .file img{
        max-width: 100%!important;
    }
    #information .section-1{
        flex-direction: column;
        align-items: flex-start;
    }
    #information .button-content{
        margin-left: 0;
    }
    #information .form-group label {
        min-width: 90px;
        margin-right: 30px;
    }
}

@media (max-width: 930px) and (orientation: landscape) {}


@media (max-width:767px) and (orientation: portrait) {}

/* Create field up-file */
/* Lên 1 hàng */
.upload-box-crop {
    display: flex;
}

/* ẩn nút input gốc */
.upload-box-crop>input {
    display: none;
    max-width: 22em;
}

/* Trang trí ô hiển thị tên File đã chọn */
.upload-box-crop>span.file {
    border: 1px solid #28a745;
    box-shadow: none;
    background: #fff;
    text-align: left;
    color: #28a745;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.1s linear all;
    flex: auto;

    /* Nếu bị tràn và rớt dòng thì thêm cho thì thành 3 chấm */
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    max-width: 206px;
    text-overflow: ellipsis;

}

@media (max-width: 767px) {
    .upload-box-crop {
        flex-wrap: wrap;
    }

    .upload-box-crop>span.file {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .choose-file,
    .upload-box-crop>button#vali-upload {
        flex: auto;
    }

    .choose-file {
        margin-left: 0;
    }
}


/* Trang trí Nút chọn file */
button.btn,
.choose-file {
    border: 1px solid var(--primary-color);
    box-shadow: none;
    background: var(--primary-color);
    color: #fff;
    padding: 5px 15px;
    border-radius: var(--border-radius);
    transition: 0.1s linear all;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;
}

button.btn:hover,
button.btne:focus,
.choose-file:hover,
.choose-file:focus {
    outline: none;
    opacity: 1;
    color: #fff;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}

/* Khi có sự kiện kéo thả */
.upload-box-crop.drag-over {
    background-color: #f2f2f2;
    border: 2px dashed #28a745;
}

/* Container chứa hình ảnh và nút xóa */
.file .image-container {
    position: relative;
    /* Giới hạn chiều rộng */
/*    max-width: 250px;*/
/*    min-width: 80px;*/
/* Giới hạn chiều cao */
/*    max-height: 250px;*/
background-color: #fefefe;
overflow: hidden;
display: flex;
align-items: center;
border-radius: var(--border-radius);
}

/* Hình ảnh */
.file img {
    width: 100%;
    height: auto;
    /* Giới hạn chiều rộng */
    max-width: 250px;
    min-width: 80px;
    /* Giới hạn chiều cao */
    max-height: 250px;
    min-height: 250px;
    object-fit:  contain;
    display: block;
    border-radius: var(--border-radius); 
    border:1px solid #e8e8e8;
}

/* Nút xóa */
.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #0000005e;
    border-radius: 90px;
    color: white;
    width: 40px;
    border: none;
    padding: 5px;
    height: 40px;
    cursor: pointer;
    display: none;
    /* Ẩn ban đầu */
    transition:0.1s linear all; 
}
.delete-button:hover{
    background-color: #000000b3;
    transition:0.1s linear all; 
}


/*-------------------------------------- */
/* Menu bootstraps offcanvas-active */
body.offcanvas-active{
    overflow:hidden;
}
.offcanvas-header{ 
    display:none; 
}

.offcanvas-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: unset;
    color: black;
    font-size: 30px;
}

@media (max-width: 767px) {
    .offcanvas-header{ display:block; }
    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        overflow-y: auto;
        visibility: hidden;
        background-color: white;
        transition: visibility .2s ease-in-out, transform .2s ease-in-out;
    }
    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }

}

@media (min-width: 768px){
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }   
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

}
/* End - Menu bootstraps offcanvas-active */
    /* END - ĐƯỢC THIẾT KẾ LẠI */