/* [102310Tuan] create prcing page*/
/* [102316Tuan] add responsive */
/* [102317Tuan] adjust pricing page according to feedbacks */
:root{
    --background-color: #f4f7fe;
    --primary-color: #2353f6;
    --border-radius: 16px;
    --container-width: 100%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    height: 100vh;
    background-color: var(--background-color);

}


.wrapper{
    height: 100%;
    width: 100%;
    padding: 32px 16px;
}

h1, h3, h4, h5, p{
    font-family: sans-serif;
}



h1{
    font-weight: 400 ;
    margin-bottom: 16px;
}

h4 {
    margin: 16px 0px;
    color: var(--primary-color);
}

/* header css */
.header{
    text-align: center;
    margin-bottom: 56px;
}

.header p{
    color: #8b8f99;
}

.container{
    width: var(--container-width);
    display: flex;
    justify-content: space-around;
}

/* price-item css */
.price-item{
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    width: 22%;
    background-color: #fefefe;
    padding: 16px;
    min-height: 500px;
}

.price-item__name{
    margin-bottom: 8px;
}

.price-item__description{
    margin-bottom: 24px;
    color: #8b8f99;
    line-height: 18px;
    min-height: 36px;
}

.price-item__price p{
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}

.price-item__price span{
    color: #8b8f99;
}

.price-item__price{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.price-item button{
    border-radius: 20px;
    border: 1px solid #6e7792;
    background-color: #fefefe;
    padding: 10px 16px;
    margin-bottom: 16px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.price-item button span{
    transition: all 0.3s;
    transform: scale(1, 1);
}

.price-item button::before, .price-item button::after {
content: '';
position: absolute;
transition: all 0.3s;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
}



.price-item button:hover{
    transform:translateY(-2px); 
    transition-duration: 500ms;
    background-color:#1c1c1c;
    color: #fefefe;
}

.price-item--popular{
    position: relative;
    border-radius: 16px;
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, blue, #53c7ed) border-box;
}



.price-item--popular::before{
    display: block;
    content: "Most popular";
    position: absolute;
    top: 0;
    right: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: linear-gradient(45deg,blue,#53c7ed);
    color: #fefefe;
    padding: 4px 8px;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.price-item--popular button {
    background-color: #2253f2;
    color: #fefefe;
    border: none;
    cursor: pointer;

}

.price-item--popular button:hover{
    box-sizing: border-box;

    /* color: #2253f2; */
    background: linear-gradient(45deg,blue,#53c7ed);
    /* border: 1px solid #2253f2; */
    transform:translateY(-2px); 
    transition-duration: 500ms;
}


/* .price-item .price-item--popular{
    
} */

.price-item__feature{
    padding-left: 0;
    margin-top: 16px;
    list-style: none;
}

.price-item__feature .check-icon {
    display: inline-block;
    font-size: 10px;
    border-radius: 50%;
    background-color: #d0f6ff;
    color: #67898f;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 1rem;
    margin-right: 6px;
  }

.price-item__feature li{
    display: flex;
    align-items: center;
    
  }

  .price-item__feature li + li{
    margin-top: 10px;
  }

.price-item__feature li p{
    margin: 0;
    flex: 1;
  }

  /* tablet */
  @media (max-width: 930px) and (orientation: portrait){

    .container{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 32px;
    }

    .price-item{
        width: calc((var(--container-width) - 64px)/2);
    }
  }

  @media (max-width: 767px) {
    .price-item{
        width: 100%;
    }
  }


  /* custom buttom hover effect */

  .btn-two::before, .btn-two::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  @keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
  
  .btn-two:hover::after {
    animation-name: rotatecw;
    animation-duration: 2s;
  }
  .btn-two:hover::before {
    animation-name: rotateccw; 
    animation-duration: 3s;
  }
  .btn-two:hover::after, .btn-two:hover::before {
    left: 37.5%;
    width: 25%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


  