.data-table {
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 1rem;
  color: #333;
  font-size: 14px;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .data-table {
    padding: 0.5rem 1.5rem 1.5rem;
    border: none;
  }
}
@media (max-width: 479px) {
  .data-table {
    padding: 0.5rem 0;
    border: none;
  }
}
.data-table table {
  background-color: white;
  width: 100%;
  display: table;
}
.data-table th,
.data-table td,
.data-table table {
  padding: 1rem;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}
.data-table th {
  color: #aaa;
  white-space: nowrap;
}
.data-table td {
  font-size: 14px;
  white-space: nowrap;
  font-weight: 600;
}
.data-table tr td:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
.data-table tr td:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.data-table tr:nth-child(odd) {
  background-color: #f6f5f7;
}
.data-table tr > th {
  background-color: white;
}
.data-table__filter-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.data-table__filter-group > * {
  flex-grow: 1;
}
.data-table__header, .data-table__footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.data-table__header {
  padding: 0 1rem;
}
@media (max-width: 479px) {
  .data-table__header {
    padding: 0;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .data-table__header {
    padding: 0;
  }
}
.data-table__footer {
  margin-top: 1rem;
}
.data-table__table {
  overflow-y: auto;
  display: block;
}
@media (max-width: 479px) {
  .data-table__table {
    display: none;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .data-table__table {
    display: none;
  }
}
.data-table__act-btn {
  font-weight: bold;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
  box-sizing: border-box;
  transition: all 0.4s;
  border: none;
  cursor: pointer;
}
.data-table__act-btn:hover {
  background-color: #eee;
}
.data-table__act-btn .material-symbols-outlined {
  font-size: 18px;
}
.data-table__act-btn--delete {
  color: #FFA726;
}
.data-table__act-btn--edit {
  color: #03A9F4;
}
.data-table__image {
  height: 60px;
  width: auto;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.2rem;
}
.data-table__items-per-page {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
}
.data-table__no-item {
  margin-top: 1.5rem;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .data-table__no-item {
    margin: 0.5rem 1rem;
  }
}
.data-table-card-wrap {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 479px) {
  .data-table-card-wrap {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .data-table-card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.data-table-card {
  overflow: hidden;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 1.2rem;
  border: 1px solid #eee;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px 0 #eee;
}
@media (min-width: 1024px) {
  .data-table-card {
    display: none;
  }
}
.data-table-card__image {
  width: 100%;
  padding: 0.8rem;
  box-sizing: border-box;
}
.data-table-card__image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0.4rem;
}
.data-table-card__body {
  padding: 0 0.8rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}
.data-table-card__footer {
  padding: 0 1rem;
}
.data-table-card__main-content {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: start;
  flex-grow: 1;
}
.data-table-card__more-content {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.data-table-card__more-content > * {
  flex-grow: 1;
}
.data-table-card__block {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  font-size: 12px;
  border: 1px solid #eee;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.data-table-card__block-label {
  font-weight: 600;
}
.data-table-card__copy-link-button {
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0 2px 0 #ccc;
  border: none;
}
.data-table-card__copy-link-button:hover {
  background-color: #eee;
}
.data-table-card__copy-link-button:active {
  box-shadow: 0 0 0 #ccc;
}
.data-table-card__title {
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
}
.data-table-card__sub-title {
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  opacity: 0.8;
}
.data-table-card__name {
  font-size: 16px;
  font-style: italic;
}
.data-table-card__field {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  font-size: 14px;
  border: 1px solid #eee;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.data-table-card__field-name {
  font-weight: 600;
}
.data-table-card__ratios {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.data-table-card__buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: end;
}
.data-table-card__button {
  border: 1px solid #eee;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
  transition: all 0.2s;
  background-color: white;
  cursor: pointer;
}
.data-table-card__button:hover {
  background-color: #eee;
}
.data-table-card__button:active {
  transform: scale(0.9);
}
.data-table-card__button span:last-child {
  margin-right: 1rem;
}
.data-table-card__button span.material-symbols-outlined {
  font-size: 16px;
}
.data-table-card__link-button {
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.4rem;
  border-radius: 0.2rem;
  background-color: white;
  transition: all 0.2s;
  cursor: pointer;
}
.data-table-card__link-button:hover {
  background-color: #eee;
}
.data-table-card__link-button:active {
  transform: scale(0.9);
}
.data-table-card__link-button span.material-symbols-outlined {
  font-size: 14px;
}
.data-table .status {
  border: 1px solid rgb(209, 213, 219);
  font-size: 14px;
  padding: 0.4rem 0.8rem;
  border-radius: 1.4rem;
  display: flex;
  gap: 0.4rem;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
.data-table .status__dot {
  width: 4px;
  height: 4px;
  background-color: rgb(55, 65, 81);
  border-radius: 0.4rem;
}
.data-table .status__dot--active {
  background-color: rgb(59, 130, 246);
}
.data-table .status__dot--inactive {
  background-color: rgb(239, 68, 68);
}
.data-table .pagination {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.data-table .pagination__prev-btn, .data-table .pagination__next-btn {
  background-color: white;
  padding: 0.1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #eee;
  border-style: solid;
  transition: all 0.4s;
  cursor: pointer;
}
.data-table .pagination__prev-btn:hover, .data-table .pagination__next-btn:hover {
  background-color: #eee;
}
.data-table .pagination__prev-btn:disabled, .data-table .pagination__next-btn:disabled {
  background-color: white;
}
.data-table .pagination__prev-btn {
  border-width: 1px 0 1px 1px;
  border-radius: 0.5rem 0 0 0.5rem;
}
.data-table .pagination__next-btn {
  border-width: 1px 1px 1px 0;
  border-radius: 0 0.5rem 0.5rem 0;
}
.data-table .pagination__page-count {
  border: 1px solid #eee;
  box-sizing: border-box;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.select-box {
  padding: 0.5rem 1rem;
  padding-right: 1.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 0.4rem;
  border: 2px solid #eee;
}

.ratios {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  align-items: center;
}
.ratios__item {
  padding: 0.2rem;
}
.ratios__item--selected {
  color: #087ef4;
  background-color: rgba(8, 126, 244, 0.1);
  padding: 0.2rem;
  border-radius: 0.4rem;
}
.ratios__divider {
  width: 4px;
  height: 4px;
  background-color: #81c784;
  border-radius: 4px;
}

.dropdown {
  padding: 0;
  margin: 0;
  position: relative;
}
.dropdown__label-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-right: 1.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 0.4rem;
  border: 1px solid #eee;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 0.5rem;
  box-sizing: border-box;
  text-transform: capitalize;
}
.dropdown__expand {
  font-size: 1rem;
  margin-right: -1rem;
}
.dropdown__item-wrap {
  width: 100%;
  display: none;
  border: 1px solid #eee;
  background-color: white;
  border-radius: 0.4rem;
  box-sizing: border-box;
  padding: 0.5rem 0;
  position: absolute;
  z-index: 9;
  top: calc(100% + 0.2rem);
  box-shadow: 1px 1px 15px 10px rgba(238, 238, 238, 0.3333333333);
}
.dropdown__item-wrap--reverse {
  top: unset;
  bottom: calc(100% + 0.2rem);
}
.dropdown__item input[type=radio] {
  display: none;
}
.dropdown__item label {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.dropdown__item label:hover {
  background-color: #eee;
}
.dropdown__label-btn:focus + .dropdown__item-wrap {
  display: block;
}
.dropdown__item-wrap:hover {
  display: block;
}

/*# sourceMappingURL=user_template_list.css.map */
