@import "color";
@import "responsive";
// variables
$siderbar-width: 216px;
$siderbar-compact-width: 90px;


/* Reset css */
body {
    margin: 0;
    padding: 0;
}

// [112312TIN] fix sections be overlay by sticky header
* {
    --header-height: 80px;
    scroll-margin-top: var(--header-height);
}

/* End reset css */

// [112312TIN] add color palette
// follow color: https://www.figma.com/file/0Sn9Ej5MmYzNF0boNPZtqF/foodiemenu?type=design&node-id=205-12&mode=design&t=v95r26AVqm0dKLJv-0
* {
    --grey-1: #f5f5f5;
    --grey-2: #e7e7e7;
    --grey-3: #d3d3d3;
    --grey-4: #bfbfbf;
    --grey-5: #ababab;
    --grey-6: #999999;
    --grey-7: #828282;
    --grey-8: #6d6d6d;
    --grey-9: #575757;
    --grey-10: #454545;

    --salmon-light: #fef2f1;
    --salmon-light-hover: #fdebea;
    --salmon-light-active: #fbd6d4;
    --salmon-normal: #f37b74;
    --salmon-normal-hover: #db6f68;
    --salmon-normal-active: #c2625d;
    --salmon-dark: #b65c57;
    --salmon-dark-hover: #924a46;
    --salmon-dark-active: #6d3734;
    --salmon-darker: #552b29;

    --blue-light: #ebf8fb;
    --blue-light-hover: #e0f5f9;
    --blue-light-active: #c0eaf4;
    --blue-normal: #33bcda;
    --blue-normal-hover: #2ea9c4;
    --blue-normal-active: #2996ae;
    --blue-dark: #268da4;
    --blue-dark-hover: #1f7183;
    --blue-dark-active: #175562;
    --blue-darker: #12424c;


    --grey-1-rgb: 245 245 245;
    --grey-2-rgb: 231 231 231;
    --grey-3-rgb: 211 211 211;
    --grey-4-rgb: 191 191 191;
    --grey-5-rgb: 171 171 171;
    --grey-6-rgb: 153 153 153;
    --grey-7-rgb: 130 130 130;
    --grey-8-rgb: 109 109 109;
    --grey-9-rgb: 87 87 87;
    --grey-10-rgb: 69 69 69;

    --salmon-light-rgb: 254 242 241;
    --salmon-light-hover-rgb: 253 235 234;
    --salmon-light-active-rgb: 251 214 212;
    --salmon-normal-rgb: 243 123 116;
    --salmon-normal-hover-rgb: 219 111 104;
    --salmon-normal-active-rgb: 194 98 93;
    --salmon-dark-rgb: 182 92 87;
    --salmon-dark-hover-rgb: 146 74 70;
    --salmon-dark-active-rgb: 109 55 52;
    --salmon-darker-rgb: 85 43 41;

    --blue-light-rgb: 235 248 251;
    --blue-light-hover-rgb: 224 245 249;
    --blue-light-active-rgb: 192 234 244;
    --blue-normal-rgb: 51 188 218;
    --blue-normal-hover-rgb: 46 169 196;
    --blue-normal-active-rgb: 41 150 174;
    --blue-dark-rgb: 38 141 164;
    --blue-dark-hover-rgb: 31 113 131;
    --blue-dark-active-rgb: 23 85 98;
    --blue-darker-rgb: 18 66 76;

    --primary-color: #2196f3;
    --darken-primary-color: #02315f;

    /* [122328TIN] add border radius variables */
    --border-radius-0: .1rem;
    --border-radius-1: .2rem;
    --border-radius-2: .3rem;
    --border-radius-3: .4rem;
    --border-radius-4: .5rem;
    --border-round: 50%;
    /* [122328TIN] add border radius variables - end */
}

// [112312TIN] add color palette - end

/* Set font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

// [122306TIN] import font Roboto, Poppins
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}



// [122312TIN] add typo style
@mixin text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0em;
    text-align: left;
    // line-height: 100%;
    color: inherit;
    font-style: normal;
}

.h1-text {
    @include text;
    font-size: 48px;
    font-weight: 500;
}

.h1-text-bold {
    @include text;
    font-size: 84px;
    font-weight: 600;
}

.h2-text {
    @include text;
    font-size: 40px;
    font-weight: 500;
}

.h2-text-bold {
    @include text;
    font-size: 40px;
    font-weight: 600;
}

.h3-text {
    @include text;
    font-size: 33px;
    font-weight: 500;
}

.h3-text-bold {
    @include text;
    font-size: 33px;
    font-weight: 600;
}

.h4-text {
    @include text;
    font-size: 28px;
    font-weight: 500;
}

.h4-text-bold {
    @include text;
    font-size: 28px;
    font-weight: 600;
}

.h5-text {
    @include text;
    font-size: 23px;
    font-weight: 500;
}

.h5-text-bold {
    @include text;
    font-size: 23px;
    font-weight: 600;
}

.title-1-text {
    @include text;
    font-size: 19px;
    font-weight: 400;
}

.title-2-text {
    @include text;
    font-size: 16px;
    font-weight: 500;
}

.title-1-text-bold {
    @include text;
    font-size: 19px;
    font-weight: 600;
}

.title-2-text-bold {
    @include text;
    font-size: 16px;
    font-weight: 600;
}

.body-text {
    @include text;
    font-size: 13px;
    font-weight: 500;
}

.body-text-bold {
    @include text;
    font-size: 13px;
    font-weight: 600;
}

.caption-text {
    @include text;
    font-size: 11px;
    font-weight: 500;
}

.caption-text-bold {
    @include text;
    font-size: 11px;
    font-weight: 600;
}

// [122312TIN] add typo style - end

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    gap: 1rem;
    flex-direction: column;
    background-color: white;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background: linear-gradient(90deg, #000 50%, #0000 0) right/200% 100%;
    animation: l21 2s infinite linear;
}

.loader::before {
    content: "Loading...";
    color: #0000;
    padding: 0 5px;
    background: inherit;
    background-image: linear-gradient(90deg, #fff 50%, #000 0);
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes l21 {
    100% {
        background-position: left
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

// for material icon
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;

    &--fill {
        font-variation-settings: 'FILL' 1;
    }
}


.mobile-header {
    padding: .5rem 1rem;
    width: 100dvw;
    display: flex;
    position: fixed;
    height: 2rem;
    background-color: white;
    z-index: 999;

    &__menu-btn {
        padding: .2rem;
        border-radius: .5rem;
        background-color: transparent;
        transition: all .4s;
        border: none;

        &:hover {
            background-color: #eee;
        }
    }

    &__logo {
        height: 100%;
        margin: 0 auto;

        img {
            height: 100%;
            width: auto;
            // ajust positon of logo to center
            margin-right: 3.5rem;
        }
    }
}

.dashboard-content {
    max-height: 100dvh;
    overflow-y: auto;
    width: 100%;
    padding: 2rem 1rem 1rem;
    box-sizing: border-box;
}



.dashboard {
    display: flex;
    min-height: 100dvh;


    &__sidebar {
        .sidebar {
            min-height: 100dvh;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            padding: 2rem;
            position: absolute;
            box-sizing: border-box;
            border-right: 1px solid #eee;
            transition: all .4s;
            background-color: white;
            top: 0;
            left: 0;
            z-index: 999;
            width: $siderbar-width;

            &--compact {
                align-items: center;
                width: $siderbar-compact-width;
                padding: 2rem 0;

                .account__name,
                .sidebar-item__text,
                #logout-desktop-btn>span:last-child {
                    display: none;
                }
            }

            &--mobile-hidden {
                padding: 0;
                width: 0;
                overflow: hidden;
            }

            &__header,
            &__footer {
                flex: 0 1;
            }

            &__header {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            &__menu {
                flex: 1 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            &__item {
                display: flex;
                gap: 1rem;
                font-weight: bold;
                align-items: center;
                transition: all .2s;
                padding: .5rem 0;
                text-decoration: none;
                color: black;

                &--selected,
                &:hover {
                    color: $primary-color;

                    .material-symbols-outlined {
                        font-variation-settings: 'FILL' 1;
                    }
                }
            }

            &__close-btn {
                display: block;
                height: 2rem;
                width: 2rem;
                padding: .2rem;
                border-radius: .5rem;
                background-color: transparent;
                transition: all .4s;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: #eee;
                }
            }

            .account {
                display: flex;
                gap: .5rem;
                align-items: center;

                &__avatar {
                    $avatar-size: 3rem;
                    width: $avatar-size;
                    height: $avatar-size;
                    border-radius: 1rem;
                    border: 2px solid #eee;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        border-radius: 1rem;
                    }
                }

                &__name {
                    font-weight: bold;
                    flex: 1 0;
                }

                &__actions {
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: .2rem;
                        border-radius: .5rem;
                        background-color: transparent;
                        transition: all .4s;
                        border: none;
                        cursor: pointer;

                        &:hover {
                            background-color: #eee;
                        }
                    }
                }
            }

            #toggle_compact-sidebar-btn {
                display: none;
                justify-content: center;
                align-items: center;
                padding: .2rem;
                border-radius: 1rem;
                background-color: #eee;
                transition: all .4s;
                border: none;
                position: absolute;
                right: -.7rem;
                top: 2rem;
                z-index: 9;
                font-size: 1rem;
                cursor: pointer;

                .material-symbols-outlined {
                    font-size: 1rem;
                }
            }

            #logout-desktop-btn {
                display: flex;
                gap: .5rem;
                align-items: center;
                font-weight: bold;
                background-color: transparent;
                transition: all .4s;
                padding: .5rem;
                border: none;
                cursor: pointer;

                &:hover {
                    color: $primary-color;
                }
            }
        }

    }

    &__content {
        flex-grow: 1;
        max-height: 100dvh;
        overflow-y: auto;
        width: 100%;
        padding: 2rem 1rem 1rem;
        box-sizing: border-box;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            gap: 1rem;
            flex-wrap: wrap;
        }
    }
}


// responsive
/* >= Tablet */
@media (min-width: 740px) {
    .dashboard {
        &__sidebar {
            .sidebar {
                padding: 1.5rem 2rem;
                position: relative;

                #toggle_compact-sidebar-btn {
                    display: flex;
                }

                .sidebar__close-btn {
                    display: none;
                }

                &--mobile-hidden {
                    width: $siderbar-width;
                    padding: 1.5rem 2rem;
                    overflow: unset;
                }
            }
        }
    }

    .mobile-header {
        display: none;
    }
}

.primary-btn {
    display: flex;
    gap: .2rem;
    justify-content: center;
    align-items: center;
    background-color: $color1;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: .4rem;
    text-decoration: none;
    border: none;
    transition: all .2s;
    cursor: pointer;

    &:hover {
        background-color: $color2;
    }

    &--with-icon {
        padding: 0.5rem 1rem .5rem .5rem;
    }
}

// [122307TIN] style for payment
.payment-form {
    color: #333;
    font-size: 16px;

    &__wrap {
        background-color: white;
        width: 85vw;
        max-width: 500px;
        margin: 0 auto;
        padding: 1.5rem;
        box-sizing: border-box;
        border-radius: .5rem;
        transform: translateY(calc((100vh - 100%) / 2));
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__review {
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 0 0 8px #ccc;
    }

    &__field {
        display: flex;
        gap: .5rem;
        flex-direction: column;
        flex-grow: 1;

        &-label {
            font-weight: 500;
        }

        &-control {
            padding: .5rem;
            box-sizing: border-box;
            border: 1px solid transparent;
            background-color: #f8fafb;
            border-radius: .4rem;
            outline: none;
            transition: all .2s;

            &:hover,
            &:focus {
                border-color: $darken-primary-color;
            }

            &:focus {
                box-shadow: 0 0 0 1px $darken-primary-color;
            }
        }

        &-group {
            display: flex;
            gap: 1rem;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__divider {
        height: 1px;
        background-color: #eee;
    }

    &__heading {
        font-size: 20px;
        font-weight: 600;
        margin: .5rem 0;
    }

    &__footer {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
    }

    &__btn {
        padding: .5rem 1rem;
        box-sizing: border-box;
        font-weight: bold;
        border-radius: .4rem;
        text-decoration: none;
        border: none;
        transition: all .2s;
        background-color: white;
        border: 1px solid #eee;
        cursor: pointer;

        &:hover {
            background-color: #eee;
        }

        &--primary {
            background-color: $color1;
            color: white;
            border-color: $color1;

            &:hover {
                background-color: $color2;
            }
        }
    }

    .payment-method {
        &__wrap {
            display: flex;
            gap: 1rem;

            &>* {
                flex-grow: 1;
            }

            & input[type="radio"] {
                display: none;
            }

            &>label:has(> input[type="radio"]:checked)>.payment-method__block {
                background-color: white;
                border: 1px solid $darken-primary-color;
                box-shadow: 0 0 0 1px $darken-primary-color;
                color: $primary-color;
            }
        }

        &__image {
            height: 24px;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                border-radius: .2rem;
            }
        }

        &__block {
            background-color: #f8fafb;
            border-radius: .4rem;
            padding: 1rem;
            box-sizing: border-box;
            transition: all .2s;
            border: 1px solid transparent;
            text-align: center;
        }

    }
}

.payment-result {
    color: #333;
    font-size: 16px;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__divider {
        width: 100%;
        height: 1px;
        border-top: 2px solid $color-neutral-200;

        &--dashed {
            border-top-style: dashed;
        }
    }

    &__header {
        padding: 1rem 0;
        position: relative;

        &::after,
        &::before {
            content: '';
            display: block;
            position: absolute;
            height: 1.25rem;
            width: 1.25rem;
            background-color: var(--invert-bg-color, white);
            border-radius: 1rem;
        }

        &::after {
            bottom: -2.1rem;
            left: -2.1rem;
        }

        &::before {
            bottom: -2.1rem;
            right: -2.1rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin: 1rem 0;
    }

    &__heading {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }

    &__checkdone-wrap {
        color: white;
        background-color: $color-emerald-600;
        border-radius: 2rem;
        box-sizing: border-box;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0 20px $color-emerald-100;
        margin: 0 auto;
    }

    &__detail {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;

        &-field {
            opacity: .8;
        }

        &-value {
            font-weight: 500;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem 1rem;
        background-color: white;
        border-radius: .5rem;
        border: 1px solid #ccc;
        gap: .5rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: #ccc;
        }

        &:active {
            background-color: #aaa;
        }

        &-text {
            font-size: 14px;
            font-weight: 600;
        }
    }
}

// [122307TIN] style for payment - end

// [122307TIN] home page and landing page for payment
.page-row {
    margin: 0 auto;
    // [122306TIN] change with to 100% and set more padding for horizontal
    // width: 80%;
    width: 100%;
    // [122306TIN] change max with to 1280px
    max-width: 1280px;
    // max-width: 1080px;
    color: #333;
    padding: 0 1rem;
    box-sizing: border-box;

    @include tablet {
        width: 90%;
        padding: 0 1rem;
    }

    @include mobile {
        width: 100%;
        padding: 0 1rem;
    }
}

.page-header {
    $header-height: 70px;
    background: white;
    box-shadow: 0 4px 12px 0 #3332;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

    &__wrap {
        height: $header-height;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 100%;
        padding: .5rem 0;
        box-sizing: border-box;

        img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }

    &__desktop-menu {
        display: flex;
        gap: 2rem;

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }

    &__desktop-menu-item {
        color: #333;
        font-size: 18px;
        text-transform: capitalize;
        transition: all .2s;

    }

    &__desktop-menu-link {
        text-decoration: none;
        color: inherit;
        transition: all .2s;
        font-weight: 600;

        &--active {
            text-decoration: none;
            color: goldenrod;
        }
    }

    &__mobile-menu {
        display: none;
        width: 100%;
        gap: 1rem;
        flex-direction: column;
        height: 0;
        overflow-y: hidden;
        padding: 0;
        box-sizing: border-box;
        transition: all .2s;

        @include mobile {
            display: flex;
        }

        @include tablet {
            display: flex;
        }

        &--active {
            height: calc(100vh - $header-height);
            padding: 1rem;
        }

        &-item {
            color: #333;
            font-size: 18px;
            text-transform: capitalize;

        }

        &-link {
            text-decoration: none;
            color: inherit;
            transition: all .2s;
            font-weight: 600;

            &--active {
                text-decoration: none;
                color: goldenrod;
            }
        }
    }

    &__menu-button {
        padding: .5rem 0;
        display: none;

        @include mobile {
            display: block;
        }

        @include tablet {
            display: block;
        }

        button {
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;
        }
    }
}

.page-footer {
    background-color: var(--salmon-normal);

    &__content {
        display: flex;
        gap: 4rem;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        padding: 5rem 0;
        color: white;

        .footer-menu {
            display: flex;
            justify-content: start;
            gap: 6rem;
            flex-grow: 1;
            flex-shrink: 0;

            @include mobile {
                gap: 4rem;
            }

            &__column {
                display: flex;
                gap: 1.5rem;
                flex-direction: column;
            }

            &__item {
                font-size: 16px;
                color: inherit;
            }

            &__link {
                text-decoration: none;
                color: inherit;
            }
        }

        .footer-form {
            flex-grow: 0;
            display: flex;
            flex-direction: column;
            gap: .75rem;
            font-size: 14px;

            @include tablet {
                max-width: 40%;
            }

            &__label {
                color: white;
                margin-bottom: 1rem;
            }

            &__form {
                display: flex;
                gap: 1rem;
            }

            &__content {
                color: white;
            }

            &__control {
                flex-grow: 1;

                input {
                    border-radius: .4rem;
                    padding: 20px;
                    // background-color: #ababab;
                    background-color: white;
                    border: 1px solid transparent;
                    color: var(--grey-10);
                    font-weight: 300;
                    width: 100%;
                    box-sizing: border-box;

                    &::placeholder {
                        color: var(--grey-8);
                    }
                }
            }

            &__submit {
                height: 100%;

                button {
                    background-color: var(--salmon-normal);
                    color: white;
                    font-weight: 600;
                    font-size: 14px;
                    border-radius: .4rem;
                    padding: 20px 40px;
                    box-sizing: border-box;
                    border: 1px solid white;
                    transition: all .2s;
                    height: 100%;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--salmon-normal-hover);
                    }
                }
            }
        }
    }

    &__copyright {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: end;
        flex-wrap: wrap;
        padding: 2rem 0;

        span {
            color: white;
        }

        @include mobile {
            justify-content: center;
        }

        .social-link {
            text-decoration: none;
            display: inline-block;
            height: 20px;
            width: 20px;

            img {
                height: 100%;
                width: auto;
                object-fit: contain;
            }
        }
    }

    .divider {
        background-color: #eee;
        width: 100%;
        height: 1px;
    }
}

.page-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;

    &__heading {
        font-size: 24px;
        font-weight: 600;
    }

    &__row {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        @include mobile {
            flex-direction: column;
            column-gap: 2rem;
        }
    }

    &__column {
        flex: 1;

    }
}

.service-card {
    border: 1px solid #eee;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    border-radius: .4rem;
    font-size: 18px;
    font-weight: 600;
}

.feature-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    &__image {
        height: 80px;

        img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }

    &__content {
        padding: 1rem;
        box-sizing: border-box;
    }
}

.plan-review {
    color: #333;

    &__package {
        background-color: rgba($color: $primary-color , $alpha: 1);
        padding: 1.5rem;
        display: flex;
        gap: .5rem;
        flex-direction: column;
        font-size: 16px;
        color: white;

        &-name {
            font-size: 24px;
            font-weight: 700;
        }

        &-price {
            font-size: 38px;
            font-weight: 700;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-direction: row;
    }

    &__extra {
        padding: 1.5rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    &__list {
        margin: 0;
        padding: .5rem;
        font-size: 16px;

        li {
            margin-bottom: .4rem;
        }
    }
}

.page-top-header {
    background: rgba(92, 92, 92, 1);
    text-align: center;
    padding: .5rem;
    box-sizing: border-box;

    p {
        text-align: center;
        color: white;
        margin: .2rem 0;

        @include mobile {
            font-size: 20px;
        }
    }

}

.page-main-header {
    background: rgba(255, 255, 255, 1);

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem 0;
        box-sizing: border-box;
        gap: 1rem;
    }

    &__button {
        text-decoration: none;
        display: block;
        border: 2px solid rgb(153, 153, 153);
        padding: 10px 20px;
        border-radius: 6px;
        text-align: center;
        color: var(--salmon-normal);

        @include mobile {
            font-size: 16px;
            padding: .5rem 1rem;
        }
    }

    &__logo {
        height: 32px;

        img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }
}

.page-fixed-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 99;
}

#landing-section-1 {
    // background: url(../asset/img/section-1-bg.webp);
    // background-size: contain, 100%;
    // background-repeat: no-repeat;
    // background-position: right top;
    // min-height: 923px;
    position: relative;

    // @include mobile {
    //     // min-height: 800px;
    //     background-position: right bottom;
    // }

    // @include tablet {
    //     min-height: 1000px;
    //     background-position: right bottom;
    // }

    .bg-image {
        position: static;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .content-wrap {
        max-width: 40%;
        margin-left: 2rem;
        position: absolute;
        top: 0;
        left: 0;

        @include mobile {
            max-width: 100%;
            margin: 0 1rem 1rem;
            position: static;
        }

        @include tablet {
            position: static;
            max-width: 100%;
            margin: 0 1rem 1rem;
        }
    }

    .heading {
        margin-bottom: 2rem;
        padding-top: 4.5rem;
        color: var(--salmon-normal);

        @include mobile {
            font-size: 48px;
            line-height: 48px;
        }
    }

    .content {
        color: var(--grey-8);
        margin-bottom: 1.5rem;
        margin-right: 88px;
    }

    .button {
        padding: 12px 28px;
        border-radius: 6px;
        background: var(--blue-normal);
        border: none;
        cursor: pointer;
        text-align: center;
        color: white;
        transition: all .2s;

        &:hover {
            background-color: var(--blue-normal-hover);
        }

        &:active {
            background-color: var(--blue-normal-active);
        }
    }
}

#landing-section-2 {
    background: var(--blue-light);
    padding: 80px 0;

    .content-wrap {
        display: flex;
        background: var(--salmon-normal);
        border-radius: 12px;
        align-items: center;
        overflow: hidden;

        @include tablet {
            flex-direction: column;
            gap: 1rem;
            align-items: stretch;
        }

        @include mobile {
            flex-direction: column;
            gap: 1rem;
            align-items: stretch;
        }
    }

    .left-panel {
        // width: 40%;
        // [162401TIN] change style
        flex: 1 0 40%;
        padding: 0 3rem;
        box-sizing: border-box;

        @include tablet {
            padding: 3rem;
            width: 100%;
        }

        @include mobile {
            padding: 1.5rem;
            width: 100%;
        }

        .heading {
            color: white;
            margin-bottom: 1rem;

            @include mobile {
                font-size: 32px;
                line-height: 32px;
            }
        }

        .content {
            color: white;
            margin-bottom: 2rem;
        }

        .button {
            text-decoration: none;
            color: rgba(245, 245, 245, 1);
            display: flex;
            gap: .4rem;
            align-items: center;

            &__icon {
                width: 24px;
                height: 24px;
                margin: 0;
                padding: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .right-panel {
        // width: 60%;
        // [162401TIN] change style
        flex: 1 0 auto;
        height: 100%;

        @include tablet {
            width: 100%;
        }

        @include mobile {
            width: 100%;
        }

        .video-player iframe {
            @include mobile {
                width: 100%;
                height: auto;
                min-height: 250px !important;
            }
        }

        .video-player__thumb img {
            height: 100%;
            width: auto;
            object-fit: cover;
            display: block;

            @include mobile {
                width: 100%;
                height: auto;
            }
        }
    }
}

.video-player {
    $play-btn-size: 5rem;
    position: relative;

    &__embedded {
        display: none;
    }

    &__play-btn {
        height: $play-btn-size;
        width: $play-btn-size;
        border-radius: $play-btn-size;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(245, 245, 245, .8);
        transition: all .2s;
        color: #454545;
        cursor: pointer;
        position: absolute;
        top: calc((100% - $play-btn-size) / 2);
        left: calc((100% - $play-btn-size) / 2);

        &:hover {
            background: rgba(245, 245, 245, .5);
        }

        &:active {
            transform: scale(.95);
        }
    }
}

#landing-section-3 {
    background-color: white;
    padding: 1.5rem 2rem;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;

    .headning-with-dash {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        @include mobile {
            gap: .5rem;
        }

        &__heading {
            flex-grow: 1;
            flex-shrink: 0;
            text-align: center;
            color: var(--grey-8);

            @include mobile {
                font-size: 18px;
            }
        }
    }

    .headning-with-dash__dash,
    .divider {
        height: 1px;
        width: 100%;
        background-color: black;
        padding: 0;
        margin: 0;
    }

    .carousel {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;

        &__prev-btn,
        &__next-btn {
            background: white;
            color: rgba(69, 69, 69, 1);
            width: 46px;
            height: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 46px;
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.06);
            transition: all .2s;
            cursor: pointer;

            &:hover {
                background-color: #0001
            }
        }

        &__item-list {
            display: flex;
            gap: 2rem;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            // justify-content: space-between;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__item {
            scroll-snap-align: center;
        }
    }

    .client-image {
        margin: 1.5rem 0;
    }
}

#landing-section-4 {
    padding: 36px 0;

    // [122306TIN] override max-width of page row
    .page-row {
        max-width: 892px;

        @include tablet {
            max-width: 1280px;
        }
    }

    .heading {
        // //styleName: H2 bold;
        // font-family: Roboto;
        // font-size: 40px;
        // font-weight: 600;
        // line-height: 40px;
        // letter-spacing: 0em;
        text-align: center;
        color: var(--salmon-normal-hover);

        @include mobile {
            font-size: 36px;
        }
    }

    .content {
        //styleName: Body;
        // font-family: Roboto;
        // font-size: 13px;
        // font-weight: 500;
        // line-height: 18px;
        // letter-spacing: 0em;
        text-align: center;
        color: var(--grey-8);
        margin: 1rem 0;
    }

    .key-feature-wrap {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin: 0 auto 3rem;

        @include tablet {
            gap: 1rem;
        }

        @include mobile {
            gap: 1rem;
            flex-direction: column;
        }

        .key-feature-card {
            border: 1px solid var(--grey-2);
            border-radius: 15px;
            padding: 1.75rem;
            box-sizing: border-box;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            display: flex;
            align-items: start;
            transition: all .2s;
            gap: 1.5rem;

            &:hover {
                border-color: var(--salmon-normal);
                box-shadow: -4px 8px 20px 0px rgba(0, 0, 0, 0.25);

                .key-feature-card__image {
                    background: var(--salmon-normal);
                }
            }

            @include mobile {
                gap: 1rem;
                align-items: center;
            }

            @include tablet {
                gap: 1rem;
                padding: 1rem;
            }

            &__image {
                background: var(--salmon-normal-hover);
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 64px;
                width: 64px;
            }

            &__title {
                color: var(--grey-10);

            }

            &__content {
                color: var(--grey-8);

                @include mobile {
                    text-align: center;
                }
            }

            &__link {
                text-decoration: underline;
                // font-family: Roboto;
                // font-size: 16px;
                // font-weight: 600;
                // line-height: 16px;
                // letter-spacing: 0em;
                // text-align: left;
                // color: rgba(69, 69, 69, 1)
                color: var(--grey-10);
            }
        }
    }
}

#landing-section-5 {
    background-color: var(--blue-light);
    padding: 6rem 0;
    box-sizing: border-box;

    .heading {
        color: var(--blue-darker);
        text-align: center;
        margin-bottom: 3rem;
    }

    .carousel {
        position: relative;
        max-width: 1062px;
        margin: 0 auto;

        &__item-list {
            width: 100%;
            overflow-y: hidden;
            display: flex;
            gap: 1.5rem;
            // justify-content: center;
            align-items: center;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        }

        &__item {
            // width: 190px;
            // animation: fade .4s ease;
            // scroll-snap-align: start;
            flex: 1 0 auto;
            width: 190px;
            height: 340px;
            position: relative;
            display: none;


            @include mobile {
                width: 0;
                flex-grow: 0;
            }

            @include tablet {
                width: 0;
                flex-grow: 0;
            }

            &:nth-child(1),
            &:nth-child(3) {
                display: block;
                flex: none;
                transition: width .4s ease-in-out;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgba(243, 123, 116, 0.5);
                    border-radius: 27px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            // &--center {
            //     // flex: 2;
            //     flex: 1 0 60%;
            //     height: 620px;
            //     width: 618px;
            // }

            &:nth-child(2) {
                flex: 2;
                height: 620px;
                width: 618px;
                display: block;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 27px;
            }
        }

        &__button {
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            border-radius: 1.4rem;
            cursor: pointer;
            background-color: transparent;
            transition: all .2s;
            position: absolute;
            bottom: 50px;

            @include mobile {
                bottom: 50%;
            }

            @include tablet {
                bottom: 50%;
            }

            &:hover {
                transform: scale(1.09);
            }

            &--prev {
                left: 70px;
            }

            &--next {
                right: 70px;
            }
        }
    }
}

#landing-section-6 {
    background: var(--salmon-normal);

    // [122306TIN] override max-width, padding of page row
    .page-row {
        max-width: 840px;
        padding: 2rem 1rem;
    }

    .divider {
        height: 4px;
        border-radius: 12px;
        background-color: var(--grey-3);
        margin: 0 auto;
    }

    .heading {
        text-align: center;
        color: white;
        margin: 1rem 0;
    }

    .content {
        color: white;
        text-align: center;
        max-width: 565.35px;
        margin: 1rem auto;
    }

    .step-wrap {
        display: flex;
        gap: 2rem;
        justify-content: center;
        margin: 4rem 0;

        @include mobile {
            flex-direction: column;
        }
    }

    .step-card {
        border-radius: 16px;
        padding: 20px 10px;
        border: 1px solid white;
        flex: 1;
        text-align: center;
        transition: all .2s;
        color: white;

        &:hover {
            box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.25);
            color: var(--grey-2);
        }

        &__title {
            //styleName: Title 1 bold;
            // font-family: Roboto;
            // font-size: 19px;
            // font-weight: 600;
            // line-height: 19px;
            // letter-spacing: 0em;
            color: inherit;
            text-align: center;
            margin: 1rem 0;
        }

        &__link {
            // @include text;
            // font-size: 11px;
            // font-weight: 600;
            text-align: center;
            color: inherit;
            text-decoration: underline;
        }
    }

    a.full-guideline {
        display: block;
        width: fit-content;
        text-decoration: none;
        margin: 0 auto;
        // //styleName: Title 2 bold;
        // font-family: Roboto;
        // font-size: 16px;
        // font-weight: 600;
        // line-height: 16px;
        // letter-spacing: 0em;
        text-align: center;
        color: var(--salmon-normal-hover);
        border-radius: 12px;
        background-color: white;
        padding: 1rem 2.5rem;
    }
}

#landing-section-7 {
    display: flex;
    align-items: center;

    @include tablet {
        margin: 1.5rem auto;
        flex-direction: column;
        gap: 2.5rem;
        max-width: 1280px;
        width: 80%;
    }

    @include mobile {
        margin: 1.5rem 1rem;
        flex-direction: column;
        gap: 1.5rem;
    }


    .left-panel {
        width: 40%;
        // [162401TIN] change style
        // flex: 1 0 auto;

        img {
            border-radius: 42px;
            // margin-left: 1.5rem;
            max-width: 100%;
            padding: 0 1rem;
            display: block;
            box-sizing: border-box;
        }

        @include tablet {
            width: 100%;

            img {
                width: 100%;
                margin: 0;
            }
        }

        @include mobile {
            width: 100%;

            img {
                width: 100%;
                height: auto;
                margin: 0;
            }
        }
    }

    .right-panel {
        // width: 60%;
        // [162401TIN] change style
        flex: 1 0 60%;
        padding: 6rem 1rem;
        box-sizing: border-box;
        max-width: 700px;
        margin-right: auto;

        @include tablet {
            width: 100%;
            padding: 0;
        }

        @include mobile {
            width: 100%;
            padding: 0;
        }

        .heading {
            //styleName: H2 bold;
            // font-family: Roboto;
            // font-size: 40px;
            // font-weight: 600;
            // line-height: 40px;
            // letter-spacing: 0em;
            // text-align: left;
            color: var(--blue-darker);
            margin: 0;
            margin-bottom: 1.5rem;

            @include mobile {
                font-size: 32px;
            }
        }

        .content {
            //styleName: Title 1;
            // font-family: Roboto;
            // font-size: 19px;
            // font-weight: 400;
            // line-height: 27px;
            // letter-spacing: 0em;
            // text-align: left;
            color: var(--grey-6);
            margin-bottom: 1.5rem;
        }
    }

    .advantage-row {
        display: flex;
        gap: 2rem;

        @include tablet {
            gap: 1rem;
        }

        @include mobile {
            flex-direction: column;
            gap: .75rem;
        }

        .advantage-column {
            display: flex;
            flex-direction: column;
            gap: .75rem;

            .advantage-item {
                display: flex;
                gap: 1.5rem;
                height: 63px;
                align-items: start;

                &__text-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: .75rem;
                }

                &__title {
                    //styleName: Title 1 bold;
                    // font-family: Roboto;
                    // font-size: 19px;
                    // font-weight: 600;
                    // line-height: 19px;
                    // letter-spacing: 0em;
                    // text-align: left;
                    color: var(--blue-darker);
                }

                &__content {
                    //styleName: Body;
                    // font-family: Roboto;
                    // font-size: 13px;
                    // font-weight: 500;
                    // line-height: 18px;
                    // letter-spacing: 0em;
                    // text-align: left;
                    color: var(--grey-6);
                }
            }
        }
    }
}

.extend-line-height-1 {
    line-height: 26.6px;
}

.extend-line-height-2 {
    line-height:
        18.2px;
}

.form {
    font-family: 'Roboto', sans-serif;
    color: var(--blue-darker);

    &__title {
        color: inherit;
        margin-bottom: .5rem;
    }

    &__sub-title {
        color: inherit;
        margin-bottom: 2.5rem;
    }

    &__row {
        display: flex;
        gap: 1rem;

        @include mobile {
            flex-direction: column;
        }

        @include tablet {
            flex-direction: column;
        }
    }

    &__column {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        flex: 1;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__field-label {
        color: inherit;
    }

    &__field-control {
        border-radius: 5px;
        border: 1px solid var(--grey-4);
        padding: 12px;
        box-sizing: border-box;
        transition: all .2s;
        outline: none;
        resize: none;
        //styleName: Title 1;
        font-size: 19px;
        font-weight: 400;
        color: var(--blue-darker);

        &:hover {
            border-color: var(--blue-dark-hover);
        }

        &:focus {
            border-color: var(--blue-dark-active);
            box-shadow: 0 0 0 1px var(--blue-dark-active);
        }

        &::placeholder {
            color: var(--grey-6);
        }

        &--has-inner-control {
            display: flex;
            gap: 0;
            padding: 0;
            overflow: hidden;

            &>select,
            &>input,
            &>textarea {
                padding: 12px;
                border: none;
                margin: 0;
                outline: none;
                color: var(--blue-darker);
                //styleName: Title 1;
                font-size: 19px;
                font-weight: 400;

                &::placeholder {
                    color: var(--grey-6);
                }
            }

            &:has(select:focus, input:focus, textarea) {
                border-color: var(--blue-dark-active);
                box-shadow: 0 0 0 1px var(--blue-dark-active);
            }
        }
    }

    &__error-message {
        color: var(--salmon-normal);
        transition: all .2s;
        min-height: 16px;
    }

    &__footer {
        margin-top: 2rem;
        display: grid;
    }

    &__submit-btn {
        padding: 10px 20px;
        box-sizing: border-box;
        background-color: var(--salmon-normal);
        display: flex;
        justify-self: end;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        gap: 10px;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;

        &:hover {
            background-color: var(--salmon-normal-hover);
        }

        &:active {
            background-color: var(--salmon-normal-active);
        }
    }

    input[type="date"]::before {
        color: var(--blue-darker);
        content: attr(placeholder);
    }

    // Custom placeholder of date input
    input[type="date"] {
        color: transparent;
    }

    input[type="date"]:focus,
    input[type="date"]:valid {
        color: var(--blue-darker);
    }

    input[type="date"]:focus::before,
    input[type="date"]:valid::before {
        content: "";
    }
}

// [122307TIN] home page and landing page for payment - end
// [122322TIN] add style for paginator
.paginator {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 16px;

    &__button {
        font-weight: inherit;
        font-size: initial;
        border-radius: 1.5rem;
        padding: .5rem 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        // color: var(--salmon-darker);
        color: #333;
        background-color: white;
        border: none;
        cursor: pointer;
        box-shadow: 0 1px 5px 0 var(--grey-2);
        transition: all .2s;

        &:hover {
            background-color: var(--grey-1);
        }

        &:active,
        &--active {
            background-color: $primary-color;
            color: white;
        }

        &--active:hover {
            background-color: $darken-primary-color;
        }

        &:disabled {
            cursor: not-allowed;
            box-shadow: none;
            color: var(--grey-6);
            background-color: transparent;
        }
    }

    &__more {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// [122322TIN] add style for paginator - end