.template-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-decoration: none;
    margin: .5rem;

    &__label {
        border-radius: .2rem;
        border: 2px solid #4b5aff50;
        transition: all .2s;

        &:hover {
            border-color: #4b5aff;
            transform: translate(-.2rem, -.2rem);
        }
    }

    &__radio {
        display: none;
    }

    &__radio:checked+&__label {
        border-color: #4b5aff;
        box-shadow: 0 0 0 1px #4b5aff;
    }

    &__thumb {

        img {
            height: 160px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__name {
        font-size: 1rem;
        padding: 0 .5rem .5rem;
        font-weight: bold;
        color: #333;

    }
}

button#next-step {
    background-color: #4b5aff;
    padding: .5rem 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: .2rem;
    border: none;
    cursor: pointer;
}