.template-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 1px 1px 10px #e1e1e1;
    text-decoration: none;
    margin: .5rem;

    &__thumb {

        img {
            height: 160px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__name {
        font-size: 1rem;
        padding: 0 .5rem .5rem;
        font-weight: bold;
        color: #333;

    }
}

a.template-item-link {
    text-decoration: none;
}