@import "color";

.template-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-decoration: none;
    margin: 0 1rem 1rem 0;

    &__label {
        border-radius: .2rem;
        border: 1px solid rgba($color: $color1, $alpha: 0.5);
        transition: all .2s;

        &:hover {
            border-color: $color1;
            transform: translateY(-0.2rem);
            box-shadow: 0px 2px 15px 2px #ccc;
        }
    }

    &__radio {
        display: none;
    }

    &__radio:checked+&__label {
        border-color: $color1;
        box-shadow: 0 0 0 1px $color1, 0px 2px 15px 2px #ccc;
    }

    &__thumb {

        img {
            height: 160px;
            width: 100%;
            object-fit: cover;
            border-radius: .2rem;
        }
    }

    &__name {
        font-size: 1rem;
        padding: 0 .5rem .5rem;
        font-weight: bold;
        color: #333;

    }
}

button#next-step {
    background-color: $color1;
    padding: .5rem 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: .2rem;
    border: none;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color2;
    }
}