@import "color";
@import "variable";
@import "responsive";

.data-table {
    padding: 1.5rem;
    border: 1px solid #eee;
    border-radius: 1rem;
    color: #333;
    font-size: 14px;

    @include tablet {
        padding: .5rem 1.5rem 1.5rem;
        border: none;
    }

    @include mobile {
        // [112305TIN] makeup
        padding: .5rem 0;
        border: none;
    }

    table {
        background-color: white;
        width: 100%;
        display: table;
    }

    th,
    td,
    table {
        padding: 1rem;
        margin: 0;
        border-spacing: 0;
        border-collapse: collapse;
        text-align: left;
    }

    th {
        color: #aaa;
        white-space: nowrap;
    }

    td {
        // [112304TIN] makeup
        // color: #1E88E5;
        // color: #1A237E;
        // font-weight: 500;
        font-size: 14px;
        white-space: nowrap;
        font-weight: 600;
    }

    tr td:last-child {
        border-radius: 0 .5rem .5rem 0;
    }

    tr td:first-child {
        border-radius: .5rem 0 0 .5rem;
    }

    tr:nth-child(odd) {
        background-color: #f6f5f7;
    }

    tr>th {
        background-color: white;
    }

    &__filter-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        // [112305TIN] makeup
        &>* {
            flex-grow: 1;
        }
    }

    &__header,
    &__footer {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__header {
        padding: 0 1rem;

        @include mobile {
            padding: 0;
        }

        @include tablet {
            padding: 0;
        }
    }

    &__footer {
        margin-top: 1rem;
    }

    &__table {
        overflow-y: auto;
        display: block;

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }

    &__act-btn {
        font-weight: bold;
        background-color: transparent;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        border-radius: .4rem;
        box-sizing: border-box;
        transition: all .4s;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #eee;
        }

        // [112304TIN] makeup
        .material-symbols-outlined {
            font-size: 18px;
        }

        // [112305TIN] makeup
        &--delete {
            // color: orange;
            color: #FFA726;
        }

        &--edit {
            // color: orange;
            color: #03A9F4;
        }
    }



    // [112304TIN] makeup
    &__image {
        height: 60px;
        width: auto;
        border: 1px solid $color-gray-300;
        border-radius: .2rem;
    }

    &__items-per-page {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: .2rem;

    }

    &__no-item {
        margin-top: 1.5rem;
        font-weight: 500;

        @include desktop {
            margin: .5rem 1rem;
        }
    }

    &-card-wrap {
        display: none;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        @include mobile {
            display: grid;
            grid-template-columns: 1fr;
        }

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    // [112305TIN] makeup
    &-card {
        // padding: 1rem;
        overflow: hidden;
        font-size: 12px;
        // padding-bottom: 1rem;
        box-sizing: border-box;
        // border-radius: .4rem;
        border-radius: 1.2rem;
        // border-bottom: 1px solid #eee;
        border: 1px solid #eee;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: .7rem;
        margin-bottom: 1rem;
        // color: #4AC29A;
        box-shadow: 0 0 4px 0 #eee;

        @include desktop {
            display: none;
        }

        // [112305TIN] makeup
        &__image {
            width: 100%;
            padding: 0.8rem;
            box-sizing: border-box;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                border-radius: .4rem;
            }
        }

        // [112305TIN] makeup
        &__body {
            // padding: 0 1rem;
            padding: 0 .8rem .8rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            flex-grow: 1;
        }

        // [112305TIN] makeup
        &__footer {
            padding: 0 1rem;
        }

        // [112305TIN] makeup
        &__main-content {
            display: flex;
            gap: .5rem;
            justify-content: space-between;
            align-items: start;
            flex-grow: 1;
        }

        // [112305TIN] makeup
        &__more-content {
            display: flex;
            gap: .5rem;
            flex-wrap: wrap;

            &>* {
                flex-grow: 1;
            }
        }

        // [112305TIN] makeup
        &__block {
            display: flex;
            gap: .2rem;
            flex-direction: column;
            font-size: 12px;
            border: 1px solid #eee;
            padding: .5rem;
            border-radius: .4rem;

            &-label {
                font-weight: 600;
            }

        }

        // [112305TIN] makeup
        &__copy-link-button {
            padding: .3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            // border: 1px solid #eee;
            border-radius: 1rem;
            transition: all .2s;
            box-shadow: 0 0 2px 0 #ccc;
            border: none;

            &:hover {
                background-color: #eee;
            }

            &:active {
                // transform: scale(.9);
                box-shadow: 0 0 0 #ccc;
            }
        }

        // [112305TIN] makeup
        &__title {
            font-weight: bold;
            font-size: 16px;
            text-transform: capitalize;
            // display: flex;
            // justify-content: space-between;
            // align-items: start;
            // gap: .5rem;
        }

        // [112305TIN] makeup
        &__sub-title {
            font-size: 12px;
            font-weight: 500;
            text-transform: capitalize;
            opacity: .8;
        }

        &__name {
            font-size: 16px;
            font-style: italic;
        }

        &__field {
            display: flex;
            gap: .2rem;
            flex-direction: column;
            font-size: 14px;
            border: 1px solid #eee;
            padding: .5rem;
            border-radius: .4rem;
        }

        &__field-name {
            font-weight: 600;
        }

        &__ratios {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;
        }

        // [112305TIN] makeup
        &__buttons {
            display: flex;
            gap: .5rem;
            justify-content: center;
            // flex-grow: 1;
            align-items: end;
        }

        // [112305TIN] makeup
        &__button {
            border: 1px solid #eee;
            // border: none;
            font-weight: 600;
            font-size: 12px;
            display: flex;
            flex-grow: 1;
            gap: .5rem;
            justify-content: center;
            align-items: center;
            // padding: .5rem 1rem;
            padding: .5rem;
            border-radius: .4rem;
            // border-radius: .3rem;
            transition: all .2s;
            background-color: white;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }

            &:active {
                transform: scale(.9);
            }

            span:last-child {
                margin-right: 1rem;
            }

            span.material-symbols-outlined {
                font-size: 16px;
            }
        }

        &__link-button {
            border: none;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .1rem .4rem;
            border-radius: .2rem;
            background-color: white;
            transition: all .2s;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }

            &:active {
                transform: scale(.9);
            }

            span.material-symbols-outlined {
                font-size: 14px;
            }
        }
    }

    // [112304TIN] makeup
    .status {
        border: 1px solid $color-gray-300;
        font-size: 14px;
        padding: .4rem .8rem;
        border-radius: 1.4rem;
        display: flex;
        gap: .4rem;
        width: fit-content;
        justify-content: center;
        align-items: center;

        &__dot {
            width: 4px;
            height: 4px;
            background-color: $color-gray-700;
            border-radius: .4rem;

            &--active {
                background-color: $color-blue-500;
            }

            &--inactive {
                background-color: $color-red-500;
            }
        }
    }


    .pagination {
        display: flex;
        justify-content: center;
        align-items: stretch;

        &__prev-btn,
        &__next-btn {
            background-color: white;
            padding: .1rem;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            border-color: #eee;
            border-style: solid;
            transition: all .4s;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }

            &:disabled {
                background-color: white;
            }
        }

        &__prev-btn {
            border-width: 1px 0 1px 1px;
            border-radius: .5rem 0 0 .5rem;
        }

        &__next-btn {
            border-width: 1px 1px 1px 0;
            border-radius: 0 .5rem .5rem 0;
        }

        &__page-count {
            border: 1px solid #eee;
            box-sizing: border-box;
            display: flex;
            padding: .5rem 1rem;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }
    }
}

.select-box {
    padding: 0.5rem 1rem;
    padding-right: 1.5rem;
    // appearance: none;
    // -moz-appearance: none;
    // -webkit-appearance: none;
    font-size: .75rem;
    font-weight: bold;
    border-radius: .4rem;
    border: 2px solid #eee;

    // &::-ms-expand {
    //     display: none;
    // }
}

// a#add-template-button {
//     display: flex;
//     gap: .2rem;
//     justify-content: center;
//     align-items: center;
//     background-color: $color1;
//     padding: 0.5rem 1rem .5rem .5rem;
//     color: white;
//     font-weight: bold;
//     border-radius: .4rem;
//     text-decoration: none;
//     border: none;
//     transition: all .2s;

//     &:hover {
//         background-color: $color2;
//     }
// }

// [112304TIN] makeup
.ratios {
    display: flex;
    // gap: .7rem;
    gap: .4rem;
    flex-wrap: wrap;
    align-items: center;

    &__item {
        // padding: .2rem .5rem;
        // color: #8a6d3b;
        // background: #fcf8e3;
        // border: 1px solid #faebcc;
        // border-radius: 1rem;
        // min-width: 42px;
        // text-align: center;
        padding: .2rem;

        &--selected {
            color: $color2;
            background-color: rgba($color: $color2, $alpha: 0.1);
            // border: 1px solid rgba($color: $color2, $alpha: 0.9);
            padding: .2rem;
            border-radius: .4rem;
        }
    }

    &__divider {
        width: 4px;
        height: 4px;
        background-color: #81c784;
        border-radius: 4px;
    }
}

.dropdown {
    padding: 0;
    margin: 0;
    position: relative;

    &__label-btn {
        width: 100%;
        padding: .5rem 1rem;
        padding-right: 1.5rem;
        font-size: 0.75rem;
        font-weight: bold;
        border-radius: 0.4rem;
        border: 1px solid #eee;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-self: center;
        gap: .5rem;
        box-sizing: border-box;
        text-transform: capitalize;
    }

    &__expand {
        font-size: 1rem;
        margin-right: -1rem;
    }

    &__item-wrap {
        width: 100%;
        display: none;
        border: 1px solid #eee;
        background-color: white;
        border-radius: .4rem;
        box-sizing: border-box;
        padding: .5rem 0;
        position: absolute;
        z-index: 9;
        top: calc(100% + .2rem);
        box-shadow: 1px 1px 15px 10px #eee5;

        &--reverse {
            top: unset;
            bottom: calc(100% + .2rem);
        }
    }

    &__item {
        input[type="radio"] {
            display: none;
        }

        label {
            display: block;
            padding: .5rem 1rem;
            cursor: pointer;
        }

        label:hover {
            background-color: #eee;
        }
    }

    &__label-btn:focus+&__item-wrap {
        display: block;
    }

    &__item-wrap:hover {
        display: block;
    }
}