@import "color";

.user-form {
    padding: 0;
    margin: 0;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    $field-button-size: 1.5rem;

    &__wrap {
        width: calc(100dvw - 2rem);
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }

    &__illustration {
        width: 100%;
        max-width: 300px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin: 1.5rem 0;
    }

    &__subtitle {
        color: #3339;
        text-align: center;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1.5rem;
    }

    &__field-label {
        font-weight: 600;
    }

    &__field-control {
        padding: .75rem;
        border: 1px solid #eee;
        border-radius: .4rem;
        outline: none;
        transition: all .2s;

        &:hover {
            border-color: $darken-primary-color;
        }

        &:focus {
            border-color: $darken-primary-color;
            box-shadow: 0 0 0 1px $darken-primary-color;
        }

        &::-ms-reveal {
            display: none;
        }
    }

    &__field-button {
        width: $field-button-size;
        height: $field-button-size;
        padding: .2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        box-sizing: border-box;
        position: absolute;
        background-color: transparent;
        border: none;
        border-radius: .2rem;
        // height of field-control is 40px
        bottom: calc((40px - $field-button-size) / 2);
        right: .25rem;
        transition: all .4s;
        cursor: pointer;

        &:hover {
            color: $color2;
        }
    }

    &__text-field {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: relative;
    }

    &__submit {
        padding: .75rem;
        border-radius: .4rem;
        background-color: $primary-color;
        border: none;
        color: white;
        font-weight: 700;
        transition: all .2s;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: $darken-primary-color;
        }

        &:focus {
            background-color: $darken-primary-color;
            box-shadow: 0 0 0 1px $darken-primary-color,
                0 0 0 3px rgba($color: $darken-primary-color, $alpha: 0.5);
        }

        &:active {
            background-color: $darken-primary-color;
            transform: scale(.95);
        }
    }

    &__user-mail {
        font-weight: 600;
    }

    &__link {
        text-decoration: none;
        color: $darken-primary-color;
        font-weight: 500;
    }

    #back-to-login {
        text-decoration: none;
        font-weight: 500;
        text-align: center;
        color: #333a;
        gap: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}