@import "color";

.user-form {
    padding: 0;
    margin: 0;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;

    &__wrap {
        width: calc(100dvw - 2rem);
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__illustration {
        width: 100%;
        max-width: 300px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    &__subtitle {
        color: #3339;
        text-align: center;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1.5rem;
    }

    &__field-label {
        font-weight: 600;
    }

    &__field-control {
        padding: .75rem;
        border: 1px solid #ccc;
        border-radius: .4rem;
        outline: none;
        transition: all .2s;

        &:hover {
            border-color: $color2;
        }

        &:focus {
            border-color: $color2;
            box-shadow: 0 0 0 1px $color2;
        }
    }

    &__text-field {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__submit {
        padding: .75rem;
        border-radius: .4rem;
        background-color: $color1;
        border: none;
        color: white;
        font-weight: 700;
        transition: all .2s;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: $color2;
        }

        &:focus {
            background-color: $color2;
            box-shadow: 0 0 0 1px $color2,
                0 0 0 3px rgba($color: $color2, $alpha: 0.5);
        }

        &:active {
            background-color: $color2;
            transform: scale(.95);
        }
    }

    &__user-mail {
        font-weight: 600;
    }

    &__link {
        text-decoration: none;
        color: $color2;
        font-weight: 500;
    }

    #back-to-login {
        text-decoration: none;
        font-weight: 500;
        text-align: center;
        color: #333a;
        gap: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}