<!-- [102311Tuan] create email template 2 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template 2</title>
    <link href='https://fonts.googleapis.com/css?family=Istok Web' rel='stylesheet'>
</head>
<body style="margin: 0; padding: 0;">
    <div class="wrapper" style="background-color: #eef1fa; height: 100vh; display: flex; align-items: center; justify-content: center;">
        <!-- begin:center div -->
        <div style="margin: auto; padding: 20px; ">
            <div style="font-family: 'Istok Web', sans-serif; font-size: 64px; font-weight: 700; line-height: 92px; letter-spacing: 0em; text-align: center;">
                MapS
            </div>

            <!-- begin: card -->
            <div style="width: 760px; border-radius: 55px; background-color: white; margin: auto; padding: 48px 0px;">
                <div style="font-family: 'Istok Web', sans-serif; font-size: 48px; font-weight: 700; text-align: center; ">
                    Hi There,
                </div>
                <div style="font-family: 'Istok Web', sans-serif; font-size: 24px; font-weight: 400; text-align: center; margin-bottom: 48px;">
                    You are almost set! Verify your email by tapping the button.<br>
                    Don't wait, this message is valid for 24 hours.
                </div>
                <div style=" margin: auto;background-color: #626262; border: 1px solid black; width: fit-content; border-radius: 55px; padding: 4px 96px;">
                    <a style=" text-decoration: none; font-family: 'Istok Web', sans-serif; font-size: 20px; font-weight: 400; line-height: 29px; text-align: center;" href="">
                        <span style="color: #fefefe">Verify email</span>
                    </a>
                </div>
            </div>
            <!-- end: card -->
        </div>
        <!-- end:center div -->
    </div>
</body>
</html>