<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/tailwind_output.css">
    <link rel="stylesheet" href="../css/user_form.css">
    <script src="https://cdn.jsdelivr.net/npm/just-validate@4.3.0/dist/just-validate.production.min.js"></script>
    <script src="../js/main.js"></script>
    <title>Forgot password</title>
</head>

<body>
    <header>
        <div id="loading-screen">
            <img src="../asset/img/logo.png" width="54" height="54" alt="Logo">
            <div class="loader"></div>
        </div>
    </header>

    <div class="flex justify-center items-center p-4 box-border min-h-dvh flex-col max-w-[400px] mx-auto"
        style="color: var(--grey-10);" id="forgot-password-screen">

        <img class="block object-contain w-auto" style="height: 300px;" src="../asset/img/unlock%20illustration.png"
            alt="Forgot password illustration">
        <div class="h3-text-bold mt-4 mb-1">Forgot password?</div>
        <div class="title-2-text">No worries, we'll send you reset instructions.</div>
        <form class="flex flex-col gap-5 w-full mt-6" novalidate="novalidate" id="forgot-password-form">
            <div class="flex gap-1 flex-auto flex-col">
                <input type="email" id="email" name="email" placeholder="Enter your email" class="field_control w-full"
                    required autofocus>
            </div>
            <button class="primary-button" type="submit">Request Reset
                password</button>
            <a href="./login2.html" id="back-to-login" class="flex gap-2 items-center justify-center">
                <span class="material-symbols-outlined">
                    arrow_back
                </span>
                <span>Back to log in</span>
            </a>
        </form>
    </div>
    <div class="flex justify-center items-center p-4 box-border min-h-dvh flex-col max-w-[400px] mx-auto"
        style="color: var(--grey-10); display: none;" id="notification-screen">
        <img class="block object-contain w-auto" style="height: 300px;" src="../asset/img/email-open.svg"
            alt="Forgot password illustration">
        <div class="h3-text-bold mt-4 mb-1">Check your email</div>
        <div class="flex gap-4 flex-col">
            <div class="title-2-text w-full">
                <p class="text-center">
                    We sent a password reset link to
                    <span style="color: var(--blue-normal);" id="forgot-password-email">
                        sample@mail.com
                    </span>
                </p>
            </div>
            <p class="title-2-text text-center w-full mt-4" style="text-align: center; color: var(--grey-5);">
                Did'nt receive the email?
                <a style="color: var(--blue-dark); cursor: pointer;" onclick="handleResendEmail()">
                    Click to resend
                    <span class="material-symbols-outlined"
                        style="font-size: 14px; animation: rotate 1s linear infinite; display: none;"
                        id="resend-spinner">
                        progress_activity
                    </span>
                </a>
            </p>
            <a href="./login2.html" class="title-2-text flex gap-2 items-center justify-center" id="back-to-login">
                <span class="material-symbols-outlined">
                    arrow_back
                </span>
                <span>Back to log in</span>
            </a>
        </div>
    </div>
    <script>
        const FORGOT_PASSWORD_FORM_SELECTOR = '#forgot-password-form'
        const EMAIL_SELECTOR = 'input[name="email"]'
        const forgotPasswordForm = document.querySelector(FORGOT_PASSWORD_FORM_SELECTOR)

        const validator = new JustValidate(FORGOT_PASSWORD_FORM_SELECTOR, {
            // errorsContainer: '#email-error-message',
            errorLabelStyle: { color: 'var(--salmon-normal)' },
            errorLabelCssClass: ['account-form__error-message', 'caption-text'],
        })

        validator.addField(EMAIL_SELECTOR, [
            {
                rule: 'required',
                errorMessage: 'Email is required',
            },
            {
                rule: 'email',
                errorMessage: 'Email is invalid',
            }
        ])

        if (forgotPasswordForm) {
            forgotPasswordForm.addEventListener('submit', (e) => {
                e.preventDefault()
                if (!e.target || !validator.isValid) { return }
                const email = document.querySelector(EMAIL_SELECTOR)?.value || ''
                // call forgot password api
                console.log({ email })
                document.querySelector('#forgot-password-email').innerHTML = email
                showNotificationScreen()
            })
        }

        function showNotificationScreen() {
            document.querySelector('#forgot-password-screen').style.display = 'none'
            document.querySelector('#notification-screen').style.display = 'flex'
        }

        async function handleResendEmail() {
            const resendSpinner = document.querySelector('#resend-spinner')
            resendSpinner.style.display = 'inline-block'
            // call api resend
            function delay(ms) {
                return new Promise((resolve) => {
                    setTimeout(() => {
                        resolve(true)
                    }, ms)
                })
            }

            await delay(400)
            resendSpinner.style.display = 'none'
        }

    </script>
</body>

</html>