<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet prefetch"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"
    />

    <link rel="stylesheet" href="../css/grid.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/dialog.css" />
    <link rel="stylesheet" href="../css/home_page_v01.css" />
    <!-- Carousel - Flickity -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@splidejs/splide@3.0.9/dist/css/splide.min.css"
    />

    <!-- Add TailwindCss -->
    <link rel="stylesheet" href="../css/tailwind_output.css" />

    <script src="../js/main.js"></script>
    <script src="../js/sidebar.js"></script>
    <script src="../js/user_template_list.js" type="module"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Carousel -  Flickity -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <!-- Splide -->
    <!-- <script src="
    https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js
    "></script>
    <script src="https://unpkg.com/@splidejs/splide@3.0.9/dist/js/splide.min.js"></script> -->
    <script type="module" defer src="../js/home_page_v01.js"></script>
    <title>Home Page v01</title>
  </head>

  <body>
    <header class="bg-[#EBF8FB]">
      <div
        class="flex items-center justify-between max-w-[1440px] desktop:mx-[240px] px-16 tablet:px-[221px] mx-0 py-[10px]"
      >
        <div class="flex items-center gap-5">
          <img
            class="h-10 w-10"
            src="../asset/img/homepage_v01/logo.png"
            alt="Logo"
          />
          <ul class="hidden tablet:flex items-center gap-6">
            <li class="text-gray-700 mr-2">Home</li>
            <li class="text-gray-700 mr-2">About</li>
            <li class="text-gray-700 mr-2">Product</li>
            <li class="text-gray-700 mr-2">Pricing</li>
            <li class="text-gray-700 mr-2">Contact</li>
          </ul>
        </div>
        <div
          class="flex relative justify-center items-center w-12 h-12 rounded-full bg-white"
        >
          <svg
            width="22"
            height="30"
            viewBox="0 0 22 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.437 6.83243C16.437 10.0536 13.8454 12.6649 10.6484 12.6649C7.4515 12.6649 4.85986 10.0536 4.85986 6.83243C4.85986 3.61127 7.4515 1 10.6484 1C12.1837 1 13.656 1.61449 14.7416 2.70828C15.8272 3.80207 16.437 5.28557 16.437 6.83243Z"
              stroke="#F37B74"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.6014 16.5532H5.69522C5.07243 16.554 4.45416 16.6598 3.86603 16.8662C-2.90661 19.2206 3.53608 28.2181 10.6483 28.2181C17.7605 28.2181 24.2032 19.2206 17.4287 16.8662C16.8411 16.66 16.2235 16.5542 15.6014 16.5532Z"
              stroke="#F37B74"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <!-- Mobile Menu Bar -->
          <div class="relative tablet:hidden">
            <div
              id="menu-toggle"
              class="absolute -top-[20px] -right-16 text-black cursor-pointer w-10 h-10 hover:text-red-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </div>
          </div>
        </div>
        <div
          class="menu hidden mobile:fixed top-0 left-0 bg-white w-full z-50"
          id="menu"
        >
          <button
            id="close-menu"
            class="absolute top-2 right-2 text-gray-600 hover:text-red-500 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-10 h-10"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
          <ul
            class="w-full h-full border-2 border-gray-200 shadow-2xl rounded-2xl p-4 cursor-pointer"
          >
            <li class="text-gray-800 hover:text-red-500 p-2">Home</li>
            <li class="text-gray-800 hover:text-red-500 p-2">About</li>
            <li class="text-gray-800 hover:text-red-500 p-2">Product</li>
            <li class="text-gray-800 hover:text-red-500 p-2">Pricing</li>
            <li class="text-gray-800 hover:text-red-500 p-2">Contact</li>
          </ul>
        </div>
      </div>
    </header>

    <div class="container__main">
      <!-- Hero Section -->
      <div
        class="flex flex-col justify-center mt-8 tablet::mt-[100px] mx-0 desktop:mx-[240px]"
      >
        <section class="section__content">
          <div class="content__logo flex items-center justify-center">
            <img
              src="../asset/img/homepage_v01/foodiemenu.png"
              alt="foodieMenu__img"
              class="max-h-11"
            />
          </div>
          <h2
            class="content__heading h3-text tablet:h2-text text-[#F37B74] tablet:text-[58px] text-center my-2 tablet:mt-4 tablet:mb-[26px] font-anton"
          >
            Explore FoodieMenu's ultimate solution!
          </h2>
          <h3
            class="section__desc title-1-text tablet:text-[33px] text-[#12424C] font-semibold text-center"
          >
            Let FoodieMenu Make Things Simple
          </h3>
        </section>
        <section
          class="hero__image relative mt-2 tablet:mt-[26px] mx-0 tablet:mx-[221px] px-10 tablet:p-0 shadow-lg"
        >
          <img
            src="../asset/img/homepage_v01/logo.png"
            alt="Logo"
            class="h-10 w-10 absolute top-[20px] right-[65px] tablet:top-[30px] tablet:right-[30px]"
          />
          <img
            src="../asset/img/homepage_v01/hero_img.png"
            alt="hero__img"
            class="border-2 border-black"
          />
          <div
            class="flex justify-center items-center my-4 tablet:my-0 tablet:absolute tablet:right-0 tablet:left-0 tablet:-bottom-[25px]"
          >
            <button
              class="py-3 px-6 rounded-3xl text-center bg-[#F37B74] text-white h5-text shadow-2xl"
            >
              Start crafting your menu now
            </button>
          </div>
        </section>
      </div>

      <!-- About Section -->
      <section
        class="grid grid-cols-2 tablet:flex tablet:justify-between desktop:justify-evenly tablet:items-center mt-11 tablet:mt-[105px] tablet:px-[149.5px]"
      >
        <div class="flex items-center tablet:w-[205px] text-center">
          <div class="flex flex-col justify-center items-center">
            <img
              src="../asset/img/homepage_v01/icon/Customer.svg"
              alt="Icon 1"
              class="max-w-full mb-[17px]"
            />
            <h4 class="h4-text-bold text-center leading-[120%] mb-[10px]">
              Attracting Customers
            </h4>
            <p class="body-text text-center leading-[140%] text-[#1D1D1F]">
              Presents vibrant, high-quality images and videos for impressive
              product showcases, creating a lasting impression.
            </p>
          </div>
        </div>

        <div class="flex items-center tablet:w-[205px] break-words text-center">
          <div class="flex flex-col justify-center items-center">
            <img
              src="../asset/img/homepage_v01/icon/Time.svg"
              alt="Icon 1"
              class="max-w-full mb-[17px]"
            />
            <h4 class="h4-text-bold text-center leading-[120%] mb-[10px]">
              Time and Cost Efficiency
            </h4>
            <p class="body-text text-center leading-[140%] text-[#1D1D1F]">
              Effortlessly updates menus without printed versions, enabling
              quick adjustments based on demand.
            </p>
          </div>
        </div>

        <div class="flex items-center tablet:w-[205px] break-words text-center">
          <div class="flex flex-col justify-center items-center">
            <img
              src="../asset/img/homepage_v01/icon/Revenue.svg"
              alt="Icon 1"
              class="max-w-full mb-[17px]"
            />
            <h4 class="h4-text-bold text-center leading-[120%] mb-[10px]">
              Revenue Generation
            </h4>
            <p class="body-text text-center leading-[140%] text-[#1D1D1F]">
              Effectively advertises new products and promotions, reaching a
              broader audience to boost sales.
            </p>
          </div>
        </div>

        <div class="flex items-center tablet:w-[205px] break-words text-center">
          <div class="flex flex-col justify-center items-center">
            <img
              src="../asset/img/homepage_v01/icon/Brand.svg"
              alt="Icon 1"
              class="max-w-full mb-[17px]"
            />
            <h4 class="h4-text-bold text-center leading-[120%] mb-[10px]">
              Brand Enhancement
            </h4>
            <p class="body-text text-center leading-[140%] text-[#1D1D1F]">
              Showcases logos and styles on TV, enhancing brand recognition and
              providing valuable informational content.
            </p>
          </div>
        </div>
      </section>

      <!-- Carousel Section -->
      <!-- Flickity -->
      <div class="mt-[55px] relative" data-flickity='{ "wrapAround": true }'>
        >
        <!-- Hình 1 -->
        <div class="relative">
          <div
            class="absolute bottom-0 left-0 flex justify-center items-center bg-black bg-opacity-50 w-full py-5"
          >
            <button
              class="bg-[#F37B74] title-2-text-bold text-white py-2 px-10 rounded-3xl mr-10 cursor-pointer"
            >
              Try now
            </button>
            <p class="text-white title-1-text-bold">
              Elevate your menu presentation with FoodieMenu Template
            </p>
          </div>
          <img
            src="../asset/img/homepage_v01/carousel/carousel-1.png"
            alt="carousel"
          />
        </div>
        <!-- Hình 2 -->
        <div class="relative">
          <div
            class="absolute bottom-0 left-0 flex justify-center items-center bg-black bg-opacity-50 w-full py-5"
          >
            <button
              class="bg-[#F37B74] title-2-text-bold text-white py-2 px-10 rounded-3xl mr-10 cursor-pointer"
            >
              Try now
            </button>
            <p class="text-white title-1-text-bold">
              Elevate your menu presentation with FoodieMenu Template
            </p>
          </div>
          <img
            src="../asset/img/homepage_v01/carousel/carousel-2.png"
            alt="carousel"
          />
        </div>
        <!-- Hình 3 -->
        <div class="relative">
          <div
            class="absolute bottom-0 left-0 flex justify-center items-center bg-black bg-opacity-50 w-full py-5"
          >
            <button
              class="bg-[#F37B74] title-2-text-bold text-white py-2 px-10 rounded-3xl mr-10 cursor-pointer"
            >
              Try now
            </button>
            <p class="text-white title-1-text-bold">
              Elevate your menu presentation with FoodieMenu Template
            </p>
          </div>
          <img
            src="../asset/img/homepage_v01/carousel/carousel-3.png"
            alt="carousel"
          />
        </div>
        <!-- Hình 4 -->
        <div class="relative">
          <div
            class="absolute bottom-0 left-0 flex justify-center items-center bg-black bg-opacity-50 w-full py-5"
          >
            <button
              class="bg-[#F37B74] title-2-text-bold text-white py-2 px-10 rounded-3xl mr-10 cursor-pointer"
            >
              Try now
            </button>
            <p class="text-white title-1-text-bold">
              Elevate your menu presentation with FoodieMenu Template
            </p>
          </div>
          <img
            src="../asset/img/homepage_v01/carousel/carousel-4.png"
            alt="carousel"
          />
        </div>
      </div>

      <!-- Youtube Section -->
      <section
        class="flex justify-center items-center px-4 tablet:p-[80px] tablet:flex-row flex-col-reverse mx-0 desktop:mx-[240px] mt-10"
      >
        <!-- Left youtube -->
        <div class="tablet:w-1/2 tablet:p-8 tablet:pr-[42px]">
          <h2 class="h4-text-bold tablet:text-[40px] mb-4 text-[#454545]">
            Experience Foodiemenu Template in action with our live demo!
          </h2>
          <p class="hidden tablet:block title-1-text text-[#F37B74]">
            Join us and transform your menu management today!
          </p>
          <p class="tablet:hidden title-1-text text-[#F37B74]">
            Join us today!
          </p>
        </div>
        <!-- Right youtube -->
        <div class="tablet:w-1/2 flex tablet:flex-col py-[34px] relative">
          <!-- <img
            src="../asset/img/video-thumb.png"
            alt=""
            class="max-w-[640px] rounded-[32px]"
          />
          <button class="video-player__play-btn">
            <svg
              width="23"
              height="28"
              viewBox="0 0 23 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.98881 1.30256C2.46609 0.359923 0.5 1.45515 0.5 3.24602V24.7539C0.5 26.5448 2.46609 27.64 3.98881 26.6974L21.3606 15.9434C22.8041 15.0498 22.8041 12.9501 21.3606 12.0565L3.98881 1.30256Z"
                fill="currentcolor"
              />
            </svg>
          </button> -->
          <!-- <div
            class="flex justify-center items-center max-w-390 tablet:w-[630px] tablet:h-[430px] tablet:max-w-[630px] tablet:max-h-[430px] rounded-[32px] bg-gray-200"
          >
            <video controls class="w-full h-full rounded-[32px]">
              <source
                src="../asset/img/homepage_v01/video.mp4"
                type="video/mp4"
              />
              Your browser does not support the video tag.
            </video> -->
          <!-- <iframe
              class="video-player__embedded"
              frameborder="0"
              allowfullscreen
              style="width: 100%; min-height: 500px"
              src="https://www.youtube.com/embed/bEerT4yEsn4"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen"
            ></iframe> -->
          <!-- </div> -->

          <!-- Start Video -->
          <div class="video-player">
            <div class="video-player__thumb">
              <img
                src="https://staging.foodiemenu.co/wp-content/themes/Divi-child/user-cms/asset/img/video-thumb.webp"
                alt=""
              />
            </div>
            <button class="video-player__play-btn">
              <svg
                width="23"
                height="28"
                viewBox="0 0 23 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3.98881 1.30256C2.46609 0.359923 0.5 1.45515 0.5 3.24602V24.7539C0.5 26.5448 2.46609 27.64 3.98881 26.6974L21.3606 15.9434C22.8041 15.0498 22.8041 12.9501 21.3606 12.0565L3.98881 1.30256Z"
                  fill="currentcolor"
                ></path>
              </svg>
            </button>
            <!-- 						[122318TIN] update video link -->
            <iframe
              class="video-player__embedded"
              style="width: 100%; min-height: 500px"
              src="https://www.youtube.com/embed/cNpc1nxe1aI?si=ngukhuBAeP9GC-lb"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen=""
            >
            </iframe>
          </div>
          <!-- End Video -->
        </div>
      </section>

      <!-- Menu Template Section -->
      <section class="mx-0 desktop:ml-[240px] mb-[108px]">
        <!-- Menu Heading -->
        <div class="desktop:pl-[230px]">
          <h5
            class="h5-text-bold text-[#6D6D6D] text-center desktop:pr-[273px] desktop:mr-[240px]"
          >
            Simplify Your Success with FoodieMenu
            <span class="inline-block w-48 h-[1px] bg-black"></span>
            <span class="text-[#F37B74] cursor-pointer"
              >USE MENU TEMPLATE NOW</span
            >
          </h5>

          <!-- Splide main container -->
          <div
            class="splide splideImg hidden tablet:block pl-[16.5rem] desktop:pl-4 mt-[25px]"
            aria-label="splide"
          >
            <div class="splide__track !p-0 text-center">
              <ul class="splide__list gap-5">
                <!-- Image 1  -->
                <li
                  class="splide__slide !w-[530px] !h-[580px] bg-gray-400 flex justify-center items-center text-2xl font-semibold relative"
                >
                  <h4
                    class="absolute top-0 left-0 pl-8 pt-[3rem] pr-[50px] h4-text-bold text-[#12424C] bg-opacity-50 w-full h-full bg-gradient-to-b from-blue-100 to-transparent bg-no-repeat bg-center bg-cover"
                  >
                    Build customer satisfaction and loyalty with consistently
                    attractive and accurate menus
                  </h4>
                  <img
                    src="../asset/img/homepage_v01/menuTemplate/menu1.png"
                    alt=""
                    class="w-full h-full block object-cover rounded-2xl"
                  />
                </li>

                <!-- Image 2  -->
                <li
                  class="splide__slide !w-[530px] !h-[580px] bg-gray-400 flex justify-center items-center text-2xl font-semibold rounded-2xl relative"
                >
                  <h4
                    class="absolute top-0 left-0 pl-8 pt-[3rem] pr-[65px] h4-text-bold text-[#12424C] bg-opacity-50 w-full h-full bg-gradient-to-b from-blue-100 to-transparent bg-no-repeat bg-center bg-cover"
                  >
                    Save time and money effortlessly by streamlining menu
                    creation and updates.
                  </h4>
                  <img
                    src="../asset/img/homepage_v01/menuTemplate/menu2.png"
                    alt=""
                    class="w-full h-full block object-cover rounded-2xl"
                  />
                </li>

                <!-- Image 3  -->
                <li
                  class="splide__slide !w-[530px] !h-[580px] bg-gray-400 flex justify-center items-center text-2xl font-semibold rounded-2xl relative"
                >
                  <h4
                    class="absolute top-0 left-0 pl-8 pt-[3rem] pr-[50px] h4-text-bold text-[#12424C] bg-opacity-50 w-full h-full bg-gradient-to-b from-blue-100 to-transparent bg-no-repeat bg-center bg-cover"
                  >
                    Boost sales and profits through optimized menu layout, item
                    placement, and pricing.
                  </h4>
                  <img
                    src="../asset/img/homepage_v01/menuTemplate/menu3.png"
                    alt=""
                    class="w-full h-full object-cover rounded-2xl"
                  />
                </li>

                <!-- Image 4  -->
                <li
                  class="splide__slide !w-[530px] !h-[580px] bg-gray-400 flex justify-center items-center text-2xl font-semibold rounded-2xl relative"
                >
                  <h4
                    class="absolute top-0 left-0 pl-8 pt-[3rem] pr-[50px] h4-text-bold text-[#12424C] bg-opacity-50 w-full h-full bg-gradient-to-b from-blue-100 to-transparent bg-no-repeat bg-center bg-cover"
                  >
                    Elevate operational efficiency, minimize errors, waste, and
                    inventory issues for improved compliance
                  </h4>
                  <img
                    src="../asset/img/homepage_v01/menuTemplate/menu4.png"
                    alt=""
                    class="w-full h-full object-cover rounded-2xl"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Simplify Msg -->
        <div class="flex justify-center items-center tablet:hidden">
          <img src="../asset/img/homepage_v01/simplify-msg.png" alt="" />
        </div>
      </section>

      <!-- Feature -->
      <section class="px-4 mt-[10rem] tablet:px-[180px] desktop:mx-[240px]">
        <div class="flex flex-col">
          <div
            class="relative flex justify-center items-center w-full mx-auto mb-5 tablet:mb-[96px] flex-col-reverse tablet:flex-row"
          >
            <div class="flex justify-center items-center">
              <img src="../asset/img/homepage_v01/features/g1.png" alt="tv" />
              <!-- class="tablet:absolute -top-[100px] left-[260px]" -->
            </div>
            <div class="flex flex-col justify-center items-center tablet:pl-10">
              <h2 class="h1-text mb-4">Key Features</h2>
              <!-- Test -->

              <!-- End Test -->
              <!-- Features 1 -->
              <div
                class="bg-white p-4 rounded-3xl shadow-2xl border border-gray-200 mb-2 show-description max-w-[550px]"
              >
                <div class="flex items-center mb-2">
                  <div
                    class="bg-[#F37B74] rounded-full active:bg-[#F37B74] focus:outline-none focus:ring focus:ring-[#F37B74] cursor-pointer"
                  >
                    <img src="../asset/img/icon/lock-icon.svg" alt="" />
                  </div>
                  <h3 class="title-1-text-bold text-[#F37B74] ml-2">
                    Menu Design Customization:
                  </h3>
                </div>
                <div class="ml-10">
                  <ul class="body-text text-[#454545] list-disc">
                    <li>
                       Create and personalize menus using templates and a
                      variety of design options.
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Features 2 -->
              <div
                class="bg-white p-4 rounded-3xl shadow-2xl border border-gray-200 mb-2 max-w-[550px]"
              >
                <div class="flex items-center mb-2">
                  <div
                    class="bg-black rounded-full hover:bg-[#F37B74] active:bg-[#F37B74] focus:outline-none focus:ring focus:ring-[#F37B74] cursor-pointer"
                  >
                    <img src="../asset/img/icon/lock-icon.svg" alt="" />
                  </div>
                  <h3 class="title-1-text-bold text-[#F37B74] ml-2">
                    Integration with POS and Online Ordering:
                  </h3>
                </div>
                <div class="ml-10">
                  <ul class="body-text text-[#454545] list-disc">
                    <li>
                       Create and personalize menus using templates and a
                      variety of design options.
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Features 3 -->
              <div
                class="bg-white p-4 rounded-3xl shadow-2xl border border-gray-200 mb-2 max-w-[550px]"
              >
                <div class="flex items-center mb-2">
                  <div
                    class="bg-black rounded-full hover:bg-[#F37B74] active:bg-[#F37B74] focus:outline-none focus:ring focus:ring-[#F37B74] cursor-pointer"
                  >
                    <img src="../asset/img/icon/lock-icon.svg" alt="" />
                  </div>
                  <h3 class="title-1-text-bold text-[#F37B74] ml-2">
                    QR Code Access for Menu Display:
                  </h3>
                </div>
                <div class="ml-10">
                  <ul class="body-text text-[#454545] list-disc">
                    <li>
                       Create and personalize menus using templates and a
                      variety of design options.
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Features 4 -->
              <div
                class="bg-white p-4 rounded-3xl shadow-2xl border border-gray-200 mb-2 max-w-[550px]"
              >
                <div class="flex items-center mb-2">
                  <div
                    class="bg-black rounded-full hover:bg-[#F37B74] active:bg-[#F37B74] focus:outline-none focus:ring focus:ring-[#F37B74] cursor-pointer"
                  >
                    <img src="../asset/img/icon/lock-icon.svg" alt="" />
                  </div>
                  <h3 class="title-1-text-bold text-[#F37B74] ml-2">
                    User-Friendly Interface for Template Adjustments:
                  </h3>
                </div>
                <div class="ml-10">
                  <ul class="body-text text-[#454545] list-disc">
                    <li>
                       Create and personalize menus using templates and a
                      variety of design options.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full h-full flex justify-center items-center">
          <a
            href="#"
            class="btn bg-[#F37B74] border border-current py-4 px-8 text-white rounded-3xl"
            >USE MENU TEMPLATE NOW</a
          >
        </div>
        <span
          class="inline-block tablet:hidden w-full h-[1px] bg-black mx-auto my-5"
          style="margin-left: 30px; margin-right: 30px"
        ></span>
      </section>

      <!-- Menu Library -->
      <section class="menu__library">
        <div class="menu__library-header mb-[70px]">
          <h4
            class="h4-text-bold text-[#454545] tablet:text-[84px] text-center"
          >
            Menu Library
          </h4>
          <h3 class="tablet:h3-text-bold title-1-text-bold text-center">
            Access a range of resources to simplify your menu management
            journey.
          </h3>
          <p
            class="title-1-text-bold tablet:font-normal text-[#454545] tablet:text-[#6D6D6D] text-center"
          >
            Explore the Foodiemenu Template Library – your hub for seamless
            compatibility, interactive editing, and user-friendly design.
          </p>
        </div>
        <div class="splideAutoScrollRight splide">
          <div class="splide__track" id="splide-track-right">
            <ul class="splide__list gap-5">
              <li class="splide__slide">
                <div class="relative">
                  <div class="image-container">
                    <div class="overlay">
                      <button>Try now</button>
                    </div>
                    <img
                      src="../asset/img/homepage_v01/menu-library1.png"
                      alt="plchldr.co ff4136"
                      class="max-w-full rounded-2xl"
                    />
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="relative">
                  <div class="image-container">
                    <div class="overlay">
                      <button>Try now</button>
                    </div>
                    <img
                      src="../asset/img/homepage_v01/menu-library2.png"
                      alt="plchldr.co ff4136"
                      class="max-w-full rounded-2xl"
                    />
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="relative">
                  <div class="image-container">
                    <div class="overlay">
                      <button>Try now</button>
                    </div>
                    <img
                      src="../asset/img/homepage_v01/menu-library3.png"
                      alt="plchldr.co ff4136"
                      class="max-w-full rounded-2xl"
                    />
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="splideAutoScrollLeft splide mt-5">
          <div class="splide__track" id="splide-track-left">
            <ul class="splide__list gap-5">
              <li class="splide__slide">
                <div class="relative">
                  <div class="image-container">
                    <div class="overlay">
                      <button>Try now</button>
                    </div>
                    <img
                      src="../asset/img/homepage_v01/menu-library4.png"
                      alt="plchldr.co ff4136"
                      class="max-w-full rounded-2xl"
                    />
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="relative">
                  <div class="image-container">
                    <div class="overlay">
                      <button>Try now</button>
                    </div>
                    <img
                      src="../asset/img/homepage_v01/menu-library5.png"
                      alt="plchldr.co ff4136"
                      class="max-w-full rounded-2xl"
                    />
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="relative">
                  <div class="image-container">
                    <div class="overlay">
                      <button>Try now</button>
                    </div>
                    <img
                      src="../asset/img/homepage_v01/menu-library6.png"
                      alt="plchldr.co ff4136"
                      class="max-w-full rounded-2xl"
                    />
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Pricing -->
      <section class="pricing">
        <div class="pricing__heading">
          <h2
            class="h4-text-bold tablet:h2-text-bold tablet:text-4xl tablet:font-black text-[#454545] text-center desktop:mx-[240px] tablet:px-20 mt-20 tablet:mt-20"
          >
            Simple & Transparent Pricing
          </h2>
        </div>
        <div class="pricing__main grid grid-cols-4 gap-11 tablet:px-20 py-16">
          <!-- Item 1 -->
          <div
            class="pricing__item p-4 flex flex-col justify-between min-h-[500px]"
          >
            <h1
              class="pricing__items-price text-[#F37B74] h3-text font-normal text-4xl pr-[17px] mb-7"
            >
              $15<span class="text-[#6D6D6D] title-1-text-bold">/month</span>
            </h1>
            <h4 class="pricing__items-title h4-text text-[#454545]">Basic</h4>
            <p
              class="pricing__items-subtitle title-2-text text-[#6D6D6D] mt-[6px] mb-7 max-w-[360px]"
            >
              Great for those seeking extra features without spending too much.
            </p>
            <div class="pricing__items-desc">
              <ul class="pl-5 list-disc">
                <li>Menu Listing - Quanlity products</li>
                <li>Branding template</li>
                <li>Media file size storage</li>
                <li>Display Device</li>
                <li>HD display</li>
                <li>Customer Support</li>
              </ul>
            </div>
            <button
              class="w-full py-4 bg-[#33BCDA] mt-[72px] rounded-3xl text-center bg-opacity-50"
            >
              Learn more
            </button>
          </div>
          <!-- Item 2 -->
          <div
            class="pricing__item p-4 flex flex-col justify-between min-h-[500px]"
          >
            <h1
              class="pricing__items-price text-[#F37B74] h3-text font-normal text-4xl pr-[17px] mb-7"
            >
              $35<span class="text-[#6D6D6D] title-1-text-bold">/month</span>
            </h1>
            <h4 class="pricing__items-title h4-text text-[#454545]">Pro</h4>
            <p
              class="pricing__items-subtitle title-2-text text-[#6D6D6D] mt-[6px] mb-7 max-w-[360px]"
            >
              Ideal for advanced users, businesses, and anyone seeking a
              comprehensive, professional-grade solution with exclusive perks
              and top-tier features.
            </p>
            <div class="pricing__items-desc">
              <ul class="pl-5 list-disc">
                <li>Menu Listing - Quanlity products</li>
                <li>Branding template</li>
                <li>Media file size storage</li>
                <li>Display Device</li>
                <li>HD display</li>
                <li>Customer Support</li>
              </ul>
            </div>
            <button
              class="w-full py-4 bg-[#33BCDA] mt-[72px] rounded-3xl text-center bg-opacity-50"
            >
              Learn more
            </button>
          </div>
          <!-- Item 3 -->
          <div
            class="pricing__item relative p-4 bg-[#F37B74] rounded-3xl shadow-2xl flex flex-col justify-between cursor-pointer px-[30px]"
          >
            <div
              class="absolute top-0 left-0 right-0 flex justify-center items-center"
            >
              <div class="bg-white rounded-b-2xl py-2 px-4">
                <span class="text-[#F37B74] title-2-text font-medium"
                  >Recommend</span
                >
              </div>
            </div>
            <h4
              class="pricing__items-title h2-text font-black text-[#58EBFF] pt-10"
            >
              Free
            </h4>
            <p
              class="pricing__items-subtitle title-2-text text-white mt-[6px] mb-7 max-w-[360px]"
            >
              Perfect for users exploring the platform or with minimal needs.
            </p>
            <div class="pricing__items-desc text-white">
              <ul class="pl-5 list-disc">
                <li>Menu Listing - Quanlity products</li>
                <li>Branding template</li>
                <li>Media file size storage</li>
                <li>Display Device</li>
                <li>HD display</li>
                <li>Customer Support</li>
              </ul>
            </div>
            <button
              class="w-full py-4 bg-white text-[#454545] mt-[72px] rounded-3xl text-center mb-[30px]"
            >
              Sign up now
            </button>
          </div>
          <!-- Item 4 -->
          <div
            class="pricing__item p-4 flex flex-col justify-between min-h-[500px]"
          >
            <h1
              class="pricing__items-price text-[#33BCDA] title-1-text font-semibold pr-[17px] mb-7"
            >
              Coming soon
            </h1>
            <h4 class="pricing__items-title h4-text text-[#454545]">
              Enterprise
            </h4>
            <p
              class="pricing__items-subtitle title-2-text text-[#6D6D6D] mt-[6px] mb-7 max-w-[360px]"
            >
              Great for those seeking extra features without spending too much.
            </p>
            <div class="pricing__items-desc">
              <ul class="pl-5 list-disc">
                <li>Menu Listing - Quanlity products</li>
                <li>Branding template</li>
                <li>Media file size storage</li>
                <li>Display Device</li>
                <li>HD display</li>
                <li>Customer Support</li>
              </ul>
            </div>
            <button
              class="w-full py-4 bg-[#33BCDA] mt-[72px] rounded-3xl text-center bg-opacity-50"
            >
              Learn more
            </button>
          </div>
        </div>
      </section>

      <!-- Menu management -->
      <section class="mb-20 desktop:mx-[240px] tablet:px-20">
        <div class="p-10 w-full h-full">
          <div class="relative">
            <img
              src="../asset/img/homepage_v01/menu-management(1).png"
              alt=""
            />
            <div class="absolute top-0 left-0 pl-[48px]">
              <h2 class="h2-text mt-10 text-white text-[36px] font-extrabold">
                Ready to revolutionize your menu management?
              </h2>
              <span
                class="block max-w-[730px] text-white text-[16px] font-semibold pt-4 font"
              >
                Experience the power of Foodiemenu Template today! Join us for a
                live demo and simplify your menu editing, enhance customer
                experience, and scale your business effortlessly.
              </span>
              <button
                class="mt-5 bg-[#F37B74] text-white px-4 py-2 leading-[140%]"
              >
                GET MENUTEMPLATE NOW
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- Ask Question -->
      <section class="mb-[17px]">
        <div>
          <div class="desktop:mx-[240px] tablet:px-20">
            <h5 class="h5-text text-[#454545] text-center">
              Star with the basics
            </h5>
            <h2 class="h2-text-bold text-center">Frequently Asked Questions</h2>
          </div>
          <!-- Ask Question 1 -->
          <div class="px-10 desktop:mx-[240px] tablet:px-[298px]">
            <div class="flex justify-between items-center mt-[30px]">
              <div>
                <h3 class="title-1-text-bold text-[#454545]">
                  Does Foodiemenu Template require any special software or
                  hardware to operate?
                </h3>
              </div>
              <svg
                id="toggle-svg"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-[30px] h-[30px] cursor-pointer text-[#D3D3D3]"
                onclick="toggleTextAsk()"
              >
                <path
                  id="toggle-path"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
            <p id="hidden-text" class="title-1-text text-[#454545] mt-2">
              Not at all! Foodiemenu Template is a web-based solution accessible
              through standard web browsers, eliminating the need for any
              specific software or hardware installations.
            </p>
            <span class="inline-block w-full h-[1px] bg-[#D3D3D3]"></span>
          </div>
          <!-- Ask Question 2 -->
          <div class="px-10 desktop:mx-[240px] tablet:px-[298px]">
            <div class="flex justify-between items-center mt-[30px]">
              <div>
                <h3 class="title-1-text-bold text-[#454545]">
                  Can I preview changes made to the menu before they go live?
                </h3>
              </div>
              <svg
                id="toggle-svg"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-[30px] h-[30px] cursor-pointer text-[#D3D3D3]"
                onclick="toggleTextAsk()"
              >
                <path
                  id="toggle-path"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
            <p id="hidden-text" class="title-1-text text-[#454545] mt-2">
              Yes, absolutely! Foodiemenu Template offers a preview feature that
              allows you to see how your edits will appear before finalizing and
              publishing them, ensuring everything looks perfect.
            </p>
            <span class="inline-block w-full h-[1px] bg-[#D3D3D3]"></span>
          </div>
          <!-- Ask Question 3 -->
          <div class="px-10 desktop:mx-[240px] tablet:px-[298px]">
            <div class="flex justify-between items-center mt-[30px]">
              <div>
                <h3 class="title-1-text-bold text-[#454545]">
                  Is there a limit to the number of menus or items I can manage
                  with Foodiemenu Template?
                </h3>
              </div>
              <svg
                id="toggle-svg"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-[30px] h-[30px] cursor-pointer text-[#D3D3D3]"
                onclick="toggleTextAsk()"
              >
                <path
                  id="toggle-path"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
            <p id="hidden-text" class="title-1-text text-[#454545] mt-2">
              Foodiemenu Template adapts to your growing needs without limiting
              the number of menus or items you can manage. Explore our pricing
              options for insights on managing different quantities effectively.
            </p>
            <span class="inline-block w-full h-[1px] bg-[#D3D3D3]"></span>
          </div>
          <!-- Ask Question 4 -->
          <div class="px-10 desktop:mx-[240px] tablet:px-[298px]">
            <div class="flex justify-between items-center mt-[30px]">
              <div>
                <h3 class="title-1-text-bold text-[#454545]">
                  How does Foodiemenu Template ensure compatibility with various
                  TVs and picture formats?
                </h3>
              </div>
              <svg
                id="toggle-svg"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-[30px] h-[30px] cursor-pointer text-[#D3D3D3]"
                onclick="toggleTextAsk()"
              >
                <path
                  id="toggle-path"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
            <p id="hidden-text" class="title-1-text text-[#454545] mt-2">
              Foodiemenu Template is built with a focus on versatility. It
              undergoes rigorous testing to ensure seamless performance across a
              wide range of TVs and supports multiple picture formats,
              guaranteeing an optimal viewing experience every time.
            </p>
            <span class="inline-block w-full h-[1px] bg-[#D3D3D3]"></span>
          </div>
          <!-- Ask Question 5 -->
          <div class="px-10 desktop:mx-[240px] tablet:px-[298px]">
            <div class="flex justify-between items-center mt-[30px]">
              <div>
                <h3 class="title-1-text-bold text-[#454545]">
                  Can I easily make changes to my menu content and details with
                  Foodiemenu Template?
                </h3>
              </div>
              <svg
                id="toggle-svg"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-[30px] h-[30px] cursor-pointer text-[#D3D3D3]"
                onclick="toggleTextAsk()"
              >
                <path
                  id="toggle-path"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
            <p id="hidden-text" class="title-1-text text-[#454545] mt-2">
              Absolutely! Foodiemenu Template offers an intuitive interface that
              allows for effortless editing. You can easily modify menu content,
              adjust prices, and fine-tune product details with just a few
              simple clicks, no technical expertise required.
            </p>
            <span class="inline-block w-full h-[1px] bg-[#D3D3D3]"></span>
          </div>
          <!-- Ask Question 6 -->
          <div class="px-10 desktop:mx-[240px] tablet:px-[298px]">
            <div class="flex justify-between items-center mt-[30px]">
              <div>
                <h3 class="title-1-text-bold text-[#454545]">
                  How much time and effort does it take to manage menus using
                  Foodiemenu Template?
                </h3>
              </div>
              <svg
                id="toggle-svg"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-[30px] h-[30px] cursor-pointer text-[#D3D3D3]"
                onclick="toggleTextAsk()"
              >
                <path
                  id="toggle-path"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
            <p id="hidden-text" class="title-1-text text-[#454545] mt-2">
              We prioritize simplicity and efficiency. Foodiemenu Template
              streamlines menu management, significantly reducing the time and
              effort needed to update and control menus. This lets you focus
              more on your business and less on administrative tasks.
            </p>
            <span class="inline-block w-full h-[1px] bg-[#D3D3D3]"></span>
          </div>
          <!-- Ask Question 7 -->
          <div class="px-10 desktop:mx-[240px] tablet:px-[298px]">
            <div class="flex justify-between items-center mt-[30px]">
              <div>
                <h3 class="title-1-text-bold text-[#454545]">
                  Is customer support available for users of Foodiemenu
                  Template?
                </h3>
              </div>
              <svg
                id="toggle-svg"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-[30px] h-[30px] cursor-pointer text-[#D3D3D3]"
                onclick="toggleTextAsk()"
              >
                <path
                  id="toggle-path"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
            <p id="hidden-text" class="title-1-text text-[#454545] mt-2">
              Yes, indeed! We provide comprehensive support to our users.
              Whether it's assistance with setup, troubleshooting, or guidance
              on utilizing features, our dedicated support team is always here
              to help ensure a smooth and successful experience.
            </p>
            <span class="inline-block w-full h-[1px] bg-[#D3D3D3]"></span>
          </div>
          <!-- Ask Question 8 -->
          <div class="px-10 desktop:mx-[240px] tablet:px-[298px]">
            <div class="flex justify-between items-center mt-[30px]">
              <div>
                <h3 class="title-1-text-bold text-[#454545]">
                  Can Foodiemenu Template adapt to the evolving needs of my
                  business?
                </h3>
              </div>
              <svg
                id="toggle-svg"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-[30px] h-[30px] cursor-pointer text-[#D3D3D3]"
                onclick="toggleTextAsk()"
              >
                <path
                  id="toggle-path"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </div>
            <p id="hidden-text" class="title-1-text text-[#454545] mt-2">
              Absolutely! Our template is designed with flexibility in mind.
              It's equipped with adaptable features that can grow and evolve
              along with your business requirements, ensuring it remains a
              valuable asset in your journey.
            </p>
            <span class="inline-block w-full h-[1px] bg-[#D3D3D3]"></span>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer -->
    <div class="page-footer">
      <div class="page-row">
        <div class="page-footer__content">
          <div class="footer-menu">
            <div class="footer-menu__column">
              <div class="footer-menu__item">
                <a
                  href="#"
                  class="title-1-text footer-menu__link extend-line-height-1"
                >
                  Products
                </a>
              </div>
              <div class="footer-menu__item">
                <a
                  href="#"
                  class="title-1-text footer-menu__link extend-line-height-1"
                >
                  Solutions
                </a>
              </div>
              <div class="footer-menu__item">
                <a
                  href="#"
                  class="title-1-text footer-menu__link extend-line-height-1"
                >
                  Blog
                </a>
              </div>
              <div class="footer-menu__item">
                <a
                  href="#"
                  class="title-1-text footer-menu__link extend-line-height-1"
                >
                  Trust
                </a>
              </div>
              <div class="footer-menu__item">
                <a
                  href="#"
                  class="title-1-text footer-menu__link extend-line-height-1"
                >
                  Pricing
                </a>
              </div>
            </div>
            <div class="footer-menu__column">
              <div class="footer-menu__item">
                <a
                  href="#"
                  class="title-1-text footer-menu__link extend-line-height-1"
                >
                  Terms and conditions
                </a>
              </div>
              <div class="footer-menu__item">
                <a
                  href="#"
                  class="title-1-text footer-menu__link extend-line-height-1"
                >
                  Privacy policy
                </a>
              </div>
            </div>
          </div>
          <div class="footer-form" style="max-width: 545px">
            <div class="h1-text footer-form__label">Trying to reach out?</div>
            <span
              class="title-1-text footer-form__content extend-line-height-1"
            >
              Get in touch today, and let's create a seamless experience
              together.
            </span>
            <form class="footer-form__form" action="#">
              <div class="footer-form__control">
                <input
                  type="email"
                  name="email"
                  placeholder="Your Email Address"
                />
              </div>
              <div class="footer-form__submit">
                <button type="submit" class="title-1-text-bold">Get</button>
              </div>
            </form>
          </div>
        </div>
        <div class="page-row pl-0">
          <div class="page-footer__copyright">
            <span class="title-1-text extend-line-height-1">
              @ 2023 FoodieMenu. All right reserved.
            </span>
            <span style="display: flex; gap: 1.5rem; align-items: end">
              <a href="#" class="social-link">
                <img src="../asset/img/icon/ig.png" alt="Instagram" />
              </a>
              <a href="#" class="social-link">
                <img src="../asset/img/icon/fb.png" alt="Facebook" />
              </a>
              <a href="#" class="social-link">
                <img src="../asset/img/icon/twitter.png" alt="Twitter" />
              </a>
              <a href="#" class="social-link">
                <img src="../asset/img/icon/github.png" alt="Gitub" />
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
