<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/main.js"></script>
    <title>TV MENU Online</title>
</head>

<body>
    <header>
        <div id="loading-screen">
            <img src="../asset/img/foodiemenu-logo.png" height="32" alt="Logo">
            <div class="loader"></div>
        </div>
    </header>
    <div class="page-fixed-header">
        <div class="page-top-header">
            <p class="h5-text-bold">
                Ready to Boost Your Business?
            </p>
        </div>
        <div class="page-main-header">
            <div class="page-row">
                <div class="page-main-header__wrap">
                    <div class="page-main-header__logo">
                        <a href="/">
                            <img src="../asset/img/foodiemenu-logo.png" alt="FoodieMenu">
                        </a>
                    </div>
                    <!-- Sign up link -->
                    <a class="page-main-header__button h5-text-bold" href="#">
                        Start for free
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section id="landing-section-1">
        <div class="content-wrap">
            <div class="h1-text-bold heading">
                Elevate Your Business with a Modern Touch
            </div>
            <div class="title-1-text content extend-line-height-1">
                Unlock a new level of efficiency and style for your business with the Foodie Menu Template – a
                modern,
                cost-effective solution for showcasing your menu and boosting revenue. Get a taste of success with
                our
                free demo!
            </div>
            <!-- Open a popup -->
            <button class="title-1-text-bold button">
                Get a demo
            </button>
        </div>
        <div class="bg-image">
            <img src="../asset/img/section-1-bg.webp" alt="">
        </div>
    </section>
    <section id="landing-section-2">
        <div class="page-row">
            <div class="content-wrap">
                <div class="left-panel">
                    <div class="h1-text heading">
                        Foodie Menu Template in action.
                    </div>
                    <div class="title-1-text content extend-line-height-1">
                        Watch and Learn: Step into the Experience with Our Video Demo.
                    </div>
                    <!-- Open playlist on youtube -->
                    <a class="button title-1-text-bold" href="#">
                        <div class="button__text">
                            Watch more
                        </div>
                        <div class="button__icon">
                            <img src="../asset/img/icon/arrow-right.svg">
                        </div>
                    </a>
                </div>
                <div class="right-panel">
                    <div class="video-player">
                        <div class="video-player__thumb">
                            <img src="../asset/img/video-thumb.png" alt="">
                        </div>
                        <button class="video-player__play-btn">
                            <svg width="23" height="28" viewBox="0 0 23 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M3.98881 1.30256C2.46609 0.359923 0.5 1.45515 0.5 3.24602V24.7539C0.5 26.5448 2.46609 27.64 3.98881 26.6974L21.3606 15.9434C22.8041 15.0498 22.8041 12.9501 21.3606 12.0565L3.98881 1.30256Z"
                                    fill="currentcolor" />
                            </svg>
                        </button>
                        <iframe class="video-player__embedded" frameborder="0" allowfullscreen
                            style="width: 100%; min-height: 500px;"
                            src="https://www.youtube.com/embed/LXb3EKWsInQ?si=WCA6D7Rl-CzNVSQp"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="landing-section-3">
        <div class="headning-with-dash">
            <div class="headning-with-dash__dash"></div>
            <div class="h5-text-bold headning-with-dash__heading">SOME OF OUR TRUSED CLIENTS</div>
            <div class="headning-with-dash__dash"></div>
        </div>
        <div class="carousel">
            <buttun class="carousel__prev-btn" type="button">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.83331 14.0001H22.1666" stroke="currentcolor" stroke-width="1.75" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M5.83331 14.0001L12.8333 21.0001" stroke="currentcolor" stroke-width="1.75"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M5.83331 14.0001L12.8333 7.00012" stroke="currentcolor" stroke-width="1.75"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </buttun>
            <div class="carousel__item-list">
                <div class="carousel__item">
                    <div class="client-image">
                        <img src="../asset/img/client-logo-2.png" alt="">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="client-image">
                        <img src="../asset/img/client-logo-3.png" alt="">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="client-image">
                        <img src="../asset/img/client-logo-4.png" alt="">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="client-image">
                        <img src="../asset/img/client-logo-5.png" alt="">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="client-image">
                        <img src="../asset/img/client-logo-6.png" alt="">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="client-image">
                        <img src="../asset/img/client-logo-1.png" alt="">
                    </div>
                </div>
            </div>
            <buttun class="carousel__next-btn" type="button">
                <!-- <img src="../asset/img/icon/arrow-right.svg" alt=""> -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 12H19" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M13 18L19 12" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M13 6L19 12" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </buttun>
        </div>
        <div class="divider"></div>
    </section>
    <section id="landing-section-4">
        <div class="page-row">
            <div class="h2-text-bold heading">A Revolution in Menu Display</div>
            <div class="title-1-text content extend-line-height-1">
                Foodiemenu is a web-based platform designed to create and manage captivating content for your TV
                displays
                effortlessly. There is no need for designers or paper menus – simply use your computer or phone to
                customize
                and update your menus at your convenience.
            </div>
            <div class="key-feature-wrap">
                <div class="key-feature-card">
                    <div class="key-feature-card__image">
                        <img src="../asset/img/icon/key-1-icon.svg" alt="">
                    </div>
                    <div class="h5-text-bold key-feature-card__title">
                        Easy to Use
                    </div>
                    <div class="body-text key-feature-card__content extend-line-height-2">
                        No design or programming skills required.
                    </div>
                    <a href="#" class="title-2-text-bold key-feature-card__link">
                        Learn more
                    </a>
                </div>
                <div class="key-feature-card">
                    <div class="key-feature-card__image">
                        <img src="../asset/img/icon/key-2-icon.svg" alt="">
                    </div>
                    <div class="h5-text-bold key-feature-card__title">
                        Cost-Saving
                    </div>
                    <div class="body-text key-feature-card__content extend-line-height-2">
                        Say goodbye to printing costs and frequent menu changes.
                    </div>
                    <a href="#" class="title-2-text-bold key-feature-card__link">
                        Learn more
                    </a>
                </div>
                <div class="key-feature-card">
                    <div class="key-feature-card__image">
                        <img src="../asset/img/icon/key-3-icon.svg" alt="">
                    </div>
                    <div class="h5-text-bold key-feature-card__title">
                        Highly Effective
                    </div>
                    <div class="body-text key-feature-card__content extend-line-height-2">
                        Make a lasting impression with stunning visuals and seamless updates.
                    </div>
                    <a href="#" class="title-2-text-bold key-feature-card__link">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="landing-section-5">
        <div class="page-row">
            <div class="h2-text-bold heading">
                Collections
            </div>
            <div class="carousel">
                <div class="carousel__item-list">
                    <div class="carousel__item"><img src="../asset/img/4.png" alt=""></div>
                    <div class="carousel__item carousel__item--center"><img src="../asset/img/1.png" alt=""></div>
                    <div class="carousel__item"><img src="../asset/img/2.png" alt=""></div>
                    <!--  -->
                    <div class="carousel__item"><img src="../asset/img/4.png" alt=""></div>
                    <div class="carousel__item"><img src="../asset/img/1.png" alt=""></div>
                    <div class="carousel__item"><img src="../asset/img/2.png" alt=""></div>
                </div>
                <button class="carousel__button carousel__button--prev">
                    <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M38.5 20.5C38.5 30.9934 29.9934 39.5 19.5 39.5C9.00659 39.5 0.5 30.9934 0.5 20.5V19.5C0.5 9.00659 9.00659 0.5 19.5 0.5C29.9934 0.5 38.5 9.00659 38.5 19.5V20.5Z"
                            stroke="currentcolor" />
                        <g clip-path="url(#clip0_293_868)">
                            <path d="M26.2083 20H12.7916" stroke="currentcolor" stroke-width="1.5"
                                stroke-linejoin="round" />
                            <path d="M16.625 16L12.7917 20" stroke="currentcolor" stroke-width="1.5"
                                stroke-linejoin="round" />
                            <path d="M16.625 24L12.7917 20" stroke="currentcolor" stroke-width="1.5"
                                stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_293_868">
                                <rect width="23" height="24" fill="white" transform="matrix(-1 0 0 -1 31 32)" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
                <button class="carousel__button carousel__button--next">
                    <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.5 19.5C0.5 9.00659 9.00659 0.5 19.5 0.5C29.9934 0.5 38.5 9.00659 38.5 19.5V20.5C38.5 30.9934 29.9934 39.5 19.5 39.5C9.00659 39.5 0.5 30.9934 0.5 20.5V19.5Z"
                            stroke="currentcolor" />
                        <g clip-path="url(#clip0_293_881)">
                            <path d="M12.7917 20H26.2084" stroke="currentcolor" stroke-width="1.5"
                                stroke-linejoin="round" />
                            <path d="M22.375 24L26.2083 20" stroke="currentcolor" stroke-width="1.5"
                                stroke-linejoin="round" />
                            <path d="M22.375 16L26.2083 20" stroke="currentcolor" stroke-width="1.5"
                                stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_293_881">
                                <rect width="23" height="24" fill="white" transform="translate(8 8)" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </div>
        </div>
    </section>
    <section id="landing-section-6">
        <div class="page-row">
            <div class="divider" style="width: 50.5px;"></div>
            <div class="h2-text-bold heading">How its works ?</div>
            <div class="title-1-text content extend-line-height-1">Everything you need to know when you're looking to
                set a digital menu All
                in one place.
            </div>
            <div class="step-wrap">
                <div class="step-card">
                    <div class="step-card__image">
                        <img src="../asset/img/icon/login.png" alt="Log in">
                    </div>
                    <div class="title-1-text-bold step-card__title">
                        Log in
                    </div>
                    <a href="#" class="title-2-text-bold step-card__link">
                        Learn more
                    </a>
                </div>
                <div class="step-card">
                    <div class="step-card__image">
                        <img src="../asset/img/icon/choose.png" alt="Choose templates">
                    </div>
                    <div class="title-1-text-bold step-card__title">
                        Choose templates
                    </div>
                </div>
                <div class="step-card">
                    <div class="step-card__image">
                        <img src="../asset/img/icon/add.png" alt="Add products">
                    </div>
                    <div class="title-1-text-bold step-card__title">
                        Add products
                    </div>
                </div>
                <div class="step-card">
                    <div class="step-card__image">
                        <img src="../asset/img/icon/tv.png" alt="Connect your TV">
                    </div>
                    <div class="title-1-text-bold step-card__title">
                        Connect your TV
                    </div>
                </div>
            </div>
            <a href="#" class="title-2-text-bold full-guideline">
                See Full Guidelines
            </a>
        </div>
    </section>
    <section id="landing-section-7">
        <div class="left-panel">
            <img src="../asset/img/left-image-section-7.png" alt="">
        </div>
        <div class="right-panel">
            <div class="h2-text-bold heading">
                Why Choose <br>
                Foodiemenu Template?
            </div>
            <div class="title-1-text content extend-line-height-1">
                Your satisfaction is our priority, we go the extra mile for you.
            </div>
            <div class="advantage-row">
                <div class="advantage-column">
                    <div class="advantage-item">
                        <div class="advantage-item__checkmark">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 29.3334C23.3638 29.3334 29.3333 23.3639 29.3333 16.0001C29.3333 8.63628 23.3638 2.66675 16 2.66675C8.63619 2.66675 2.66666 8.63628 2.66666 16.0001C2.66666 23.3639 8.63619 29.3334 16 29.3334Z"
                                    fill="#33BCDA" />
                                <path
                                    d="M26.0607 11.6767L23.3433 9.06934L15.1833 17.4887L11.1193 13.622L8.51199 16.3393L12.562 20.1927L15.28 22.786L15.284 22.782L15.288 22.786L17.9067 20.0793L26.0607 11.6767Z"
                                    fill="white" />
                                <path d="M15.284 22.7821L17.9067 20.0794L15.1833 17.4888L12.562 20.1928L15.284 22.7821Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="advantage-item__text-wrap">
                            <div class="title-1-text-bold advantage-item__title">
                                Cost Efficiency
                            </div>
                            <div class="body-text advantage-item__content extend-line-height-2">
                                Save money on printing and equipment.
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-item__checkmark">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 29.3334C23.3638 29.3334 29.3333 23.3639 29.3333 16.0001C29.3333 8.63628 23.3638 2.66675 16 2.66675C8.63619 2.66675 2.66666 8.63628 2.66666 16.0001C2.66666 23.3639 8.63619 29.3334 16 29.3334Z"
                                    fill="#33BCDA" />
                                <path
                                    d="M26.0607 11.6767L23.3433 9.06934L15.1833 17.4887L11.1193 13.622L8.51199 16.3393L12.562 20.1927L15.28 22.786L15.284 22.782L15.288 22.786L17.9067 20.0793L26.0607 11.6767Z"
                                    fill="white" />
                                <path d="M15.284 22.7821L17.9067 20.0794L15.1833 17.4888L12.562 20.1928L15.284 22.7821Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="advantage-item__text-wrap">
                            <div class="title-1-text-bold advantage-item__title">
                                No Extra Costs
                            </div>
                            <div class="body-text advantage-item__content extend-line-height-2">
                                No need for additional equipment or software.
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-item__checkmark">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 29.3334C23.3638 29.3334 29.3333 23.3639 29.3333 16.0001C29.3333 8.63628 23.3638 2.66675 16 2.66675C8.63619 2.66675 2.66666 8.63628 2.66666 16.0001C2.66666 23.3639 8.63619 29.3334 16 29.3334Z"
                                    fill="#33BCDA" />
                                <path
                                    d="M26.0607 11.6767L23.3433 9.06934L15.1833 17.4887L11.1193 13.622L8.51199 16.3393L12.562 20.1927L15.28 22.786L15.284 22.782L15.288 22.786L17.9067 20.0793L26.0607 11.6767Z"
                                    fill="white" />
                                <path d="M15.284 22.7821L17.9067 20.0794L15.1833 17.4888L12.562 20.1928L15.284 22.7821Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="advantage-item__text-wrap">
                            <div class="title-1-text-bold advantage-item__title">
                                Compatibility
                            </div>
                            <div class="body-text advantage-item__content extend-line-height-2">
                                Works with smart TVs and devices like Chromecast, Firestick, or Android box.
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-item__checkmark">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 29.3334C23.3638 29.3334 29.3333 23.3639 29.3333 16.0001C29.3333 8.63628 23.3638 2.66675 16 2.66675C8.63619 2.66675 2.66666 8.63628 2.66666 16.0001C2.66666 23.3639 8.63619 29.3334 16 29.3334Z"
                                    fill="#33BCDA" />
                                <path
                                    d="M26.0607 11.6767L23.3433 9.06934L15.1833 17.4887L11.1193 13.622L8.51199 16.3393L12.562 20.1927L15.28 22.786L15.284 22.782L15.288 22.786L17.9067 20.0793L26.0607 11.6767Z"
                                    fill="white" />
                                <path d="M15.284 22.7821L17.9067 20.0794L15.1833 17.4888L12.562 20.1928L15.284 22.7821Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="advantage-item__text-wrap">
                            <div class="title-1-text-bold advantage-item__title">
                                Free to Use
                            </div>
                            <div class="body-text advantage-item__content extend-line-height-2">
                                Enjoy the Foodiemenu Template for free.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advantage-column">
                    <div class="advantage-item">
                        <div class="advantage-item__checkmark">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 29.3334C23.3638 29.3334 29.3333 23.3639 29.3333 16.0001C29.3333 8.63628 23.3638 2.66675 16 2.66675C8.63619 2.66675 2.66666 8.63628 2.66666 16.0001C2.66666 23.3639 8.63619 29.3334 16 29.3334Z"
                                    fill="#33BCDA" />
                                <path
                                    d="M26.0607 11.6767L23.3433 9.06934L15.1833 17.4887L11.1193 13.622L8.51199 16.3393L12.562 20.1927L15.28 22.786L15.284 22.782L15.288 22.786L17.9067 20.0793L26.0607 11.6767Z"
                                    fill="white" />
                                <path d="M15.284 22.7821L17.9067 20.0794L15.1833 17.4888L12.562 20.1928L15.284 22.7821Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="advantage-item__text-wrap">
                            <div class="title-1-text-bold advantage-item__title">
                                Attracting More Customers
                            </div>
                            <div class="body-text advantage-item__content extend-line-height-2">
                                Showcase your products with vivid images and videos
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-item__checkmark">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 29.3334C23.3638 29.3334 29.3333 23.3639 29.3333 16.0001C29.3333 8.63628 23.3638 2.66675 16 2.66675C8.63619 2.66675 2.66666 8.63628 2.66666 16.0001C2.66666 23.3639 8.63619 29.3334 16 29.3334Z"
                                    fill="#33BCDA" />
                                <path
                                    d="M26.0607 11.6767L23.3433 9.06934L15.1833 17.4887L11.1193 13.622L8.51199 16.3393L12.562 20.1927L15.28 22.786L15.284 22.782L15.288 22.786L17.9067 20.0793L26.0607 11.6767Z"
                                    fill="white" />
                                <path d="M15.284 22.7821L17.9067 20.0794L15.1833 17.4888L12.562 20.1928L15.284 22.7821Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="advantage-item__text-wrap">
                            <div class="title-1-text-bold advantage-item__title">
                                Saving Time and Money
                            </div>
                            <div class="body-text advantage-item__content extend-line-height-2">
                                Update your menu effortlessly, catering to customer demand.
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-item__checkmark">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 29.3334C23.3638 29.3334 29.3333 23.3639 29.3333 16.0001C29.3333 8.63628 23.3638 2.66675 16 2.66675C8.63619 2.66675 2.66666 8.63628 2.66666 16.0001C2.66666 23.3639 8.63619 29.3334 16 29.3334Z"
                                    fill="#33BCDA" />
                                <path
                                    d="M26.0607 11.6767L23.3433 9.06934L15.1833 17.4887L11.1193 13.622L8.51199 16.3393L12.562 20.1927L15.28 22.786L15.284 22.782L15.288 22.786L17.9067 20.0793L26.0607 11.6767Z"
                                    fill="white" />
                                <path d="M15.284 22.7821L17.9067 20.0794L15.1833 17.4888L12.562 20.1928L15.284 22.7821Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="advantage-item__text-wrap">
                            <div class="title-1-text-bold advantage-item__title">
                                Increasing Revenue
                            </div>
                            <div class="body-text advantage-item__content extend-line-height-2">
                                Advertise new products and promotions to a broader audience.
                            </div>
                        </div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-item__checkmark">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 29.3334C23.3638 29.3334 29.3333 23.3639 29.3333 16.0001C29.3333 8.63628 23.3638 2.66675 16 2.66675C8.63619 2.66675 2.66666 8.63628 2.66666 16.0001C2.66666 23.3639 8.63619 29.3334 16 29.3334Z"
                                    fill="#33BCDA" />
                                <path
                                    d="M26.0607 11.6767L23.3433 9.06934L15.1833 17.4887L11.1193 13.622L8.51199 16.3393L12.562 20.1927L15.28 22.786L15.284 22.782L15.288 22.786L17.9067 20.0793L26.0607 11.6767Z"
                                    fill="white" />
                                <path d="M15.284 22.7821L17.9067 20.0794L15.1833 17.4888L12.562 20.1928L15.284 22.7821Z"
                                    fill="white" />
                            </svg>
                        </div>
                        <div class="advantage-item__text-wrap">
                            <div class="title-1-text-bold advantage-item__title">
                                Enhancing Your Brand
                            </div>
                            <div class="body-text advantage-item__content extend-line-height-2">
                                Display your logo and style, providing valuable information to customers.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="page-footer">
        <div class="page-row">
            <div class="page-footer__content">
                <div class="footer-menu">
                    <div class="footer-menu__column">
                        <div class="footer-menu__item">
                            <a href="#" class="title-1-text footer-menu__link extend-line-height-1">
                                Products
                            </a>
                        </div>
                        <div class="footer-menu__item">
                            <a href="#" class="title-1-text footer-menu__link extend-line-height-1">
                                Solutions
                            </a>
                        </div>
                        <div class="footer-menu__item">
                            <a href="#" class="title-1-text footer-menu__link extend-line-height-1">
                                Blog
                            </a>
                        </div>
                        <div class="footer-menu__item">
                            <a href="#" class="title-1-text footer-menu__link extend-line-height-1">
                                Trust
                            </a>
                        </div>
                        <div class="footer-menu__item">
                            <a href="#" class="title-1-text footer-menu__link extend-line-height-1">
                                Pricing
                            </a>
                        </div>
                    </div>
                    <div class="footer-menu__column">
                        <div class="footer-menu__item">
                            <a href="#" class="title-1-text footer-menu__link extend-line-height-1">
                                Terms and conditions
                            </a>
                        </div>
                        <div class="footer-menu__item">
                            <a href="#" class="title-1-text footer-menu__link extend-line-height-1">
                                Privacy policy
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-form" style="max-width: 545px;">
                    <div class="h1-text footer-form__label">
                        Trying to reach out?
                    </div>
                    <span class="title-1-text footer-form__content extend-line-height-1">
                        Get in touch today, and let's create a seamless experience together.
                    </span>
                    <form class="footer-form__form" action="#">
                        <div class="footer-form__control">
                            <input type="email" name="email" placeholder="Your Email Address">
                        </div>
                        <div class="footer-form__submit">
                            <button type="submit" class="title-1-text-bold">Get</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="page-row">
            <div class="page-footer__copyright">
                <span class="title-1-text extend-line-height-1">
                    @ 2023 FoodieMenu. All right reserved.
                </span>
                <span style="display: flex; gap: 1.5rem; align-items: end;">
                    <a href="#" class="social-link">
                        <img src="../asset/img/icon/ig.png" alt="Instagram">
                    </a>
                    <a href="#" class="social-link">
                        <img src="../asset/img/icon/fb.png" alt="Facebook">
                    </a>
                    <a href="#" class="social-link">
                        <img src="../asset/img/icon/twitter.png" alt="Twitter">
                    </a>
                    <a href="#" class="social-link">
                        <img src="../asset/img/icon/github.png" alt="Gitub">
                    </a>
                </span>
            </div>
        </div>
    </div>
    <script>
        const videoPlayer = document.querySelector('.video-player')
        initCustomVideoPlayer(videoPlayer)
        initCarousel('.carousel', 150)
        initCarousel2('#landing-section-5 .carousel')

        function initCarousel(selector, scrollAmount) {
            window.addEventListener('load', () => {
                const CAROUSEL_ITEM_LIST_CLASSNAME = 'carousel__item-list'
                const CAROUSEL_ITEM_CLASSNAME = 'carousel__item'
                const NEXT_BTN_CLASSNAME = 'carousel__next-btn'
                const PREV_BTN_CLASSNAME = 'carousel__prev-btn'
                const carousel = document.querySelector(selector)
                const carouselItemListWrap = carousel.querySelector(`.${CAROUSEL_ITEM_LIST_CLASSNAME}`)
                const nextBtn = carousel.querySelector(`.${NEXT_BTN_CLASSNAME}`)
                const prevBtn = carousel.querySelector(`.${PREV_BTN_CLASSNAME}`)

                nextBtn.addEventListener('click', () => {
                    scrollToLeft(carouselItemListWrap.scrollLeft + scrollAmount, '.' + CAROUSEL_ITEM_LIST_CLASSNAME)
                })

                prevBtn.addEventListener('click', () => {
                    scrollToLeft(carouselItemListWrap.scrollLeft - scrollAmount, '.' + CAROUSEL_ITEM_LIST_CLASSNAME)

                })
            })
        }

        function scrollToLeft(amount, selector) {
            const element = document.querySelector(selector)
            if (!element) {
                return console.log(`Not found ${selector}`)
            }

            element.scroll({ left: amount, behavior: 'smooth' })
        }

        function handleNextCarouselItem(items) {
            // const CENTER_ITEM_CLASSNAME = 'carousel__item--center'
            // const indexOfCenterItem = getIndexOfCenterCarouselItem(items)
            // if (items.length <= 1 || indexOfCenterItem >= items.length - 2) { return }
            // scrollToLeft(-100, '#landing-section-5 .carousel__item-list')
            // items[indexOfCenterItem].classList.remove(CENTER_ITEM_CLASSNAME)
            // items[indexOfCenterItem + 1].classList.add(CENTER_ITEM_CLASSNAME)
            if (items.length <= 1) { return }
            const firstItem = items[0]
            const lastItem = items[items.length - 1]
            const clonedFirstItem = firstItem.cloneNode(true)
            lastItem.insertAdjacentElement('afterend', clonedFirstItem)
            firstItem.remove()
        }

        function handlePrevCarouselItem(items) {
            // const CENTER_ITEM_CLASSNAME = 'carousel__item--center'
            // const indexOfCenterItem = getIndexOfCenterCarouselItem(items)
            // if (items.length <= 1 || indexOfCenterItem <= 1) { return }
            // scrollToLeft(100, '#landing-section-5 .carousel__item-list')
            // items[indexOfCenterItem].classList.remove(CENTER_ITEM_CLASSNAME)
            // items[indexOfCenterItem - 1].classList.add(CENTER_ITEM_CLASSNAME)
            const firstItem = items[0]
            const lastItem = items[items.length - 1]
            const clonedLastItem = lastItem.cloneNode(true)
            firstItem.insertAdjacentElement('beforebegin', clonedLastItem)
            lastItem.remove()
        }

        function getIndexOfCenterCarouselItem(items, centerClassName = 'carousel__item--center') {
            let index = 0
            for (let i = 0; i < items.length; i++) {
                if (items[i].classList.contains(centerClassName)) {
                    index = i
                }
            }
            return index;
        }

        function initCarousel2(selector) {
            window.addEventListener('load', () => {
                const CAROUSEL_ITEM_LIST_CLASSNAME = 'carousel__item-list'
                const CAROUSEL_ITEM_CLASSNAME = 'carousel__item'
                const NEXT_BTN_CLASSNAME = 'carousel__button--next'
                const PREV_BTN_CLASSNAME = 'carousel__button--prev'
                const carousel = document.querySelector(selector)
                const nextBtn = carousel.querySelector(`.${NEXT_BTN_CLASSNAME}`)
                const prevBtn = carousel.querySelector(`.${PREV_BTN_CLASSNAME}`)
                nextBtn.addEventListener('click', () => {
                    const carouselItems = carousel.querySelectorAll(`.${CAROUSEL_ITEM_CLASSNAME}`)
                    handleNextCarouselItem(carouselItems)
                })

                prevBtn.addEventListener('click', () => {
                    const carouselItems = carousel.querySelectorAll(`.${CAROUSEL_ITEM_CLASSNAME}`)
                    handlePrevCarouselItem(carouselItems)
                })
            })
        }
    </script>
</body>

</html>