<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/pricing2.css">
    <script src="../js/main.js" defer></script>
    <title>Pricing</title>
</head>

<body>
    <header>
        <div id="loading-screen">
            <img src="../asset/img/foodiemenu-logo.png" height="32" alt="Logo">
            <div class="loader"></div>
        </div>
    </header>
    <div class="pricing-page">
        <div class="h1-text pricing-page__title">Simple and transparent pricing</div>
        <div class="title-1-text pricing-page__caption">
            Prices that follow the growth of your business, so you will never paying more than you need
        </div>
        <div class="price-package-wrap">
            <div class="price-package" style="padding-right: 2.25rem;">
                <div class="h1-text price-package__name">Starter</div>
                <div class="title-1 price-package__caption">All the basics for businesses</div>
                <div class="h4-text price-package__price">
                    <div class="h4-text">
                        Free
                    </div>
                </div>
                <button class="title-2-text price-package__get-button">
                    Sign Up, It’s Free
                </button>
                <ul class="price-package__feature-list">
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Menu Listing - Quanlity products</div>
                            <div class="title-2-text price-package__feature-value">10</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Branding template</div>
                            <div class="title-2-text price-package__feature-value">1</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Media file size storage</div>
                            <div class="title-2-text price-package__feature-value">100MB</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Display Device</div>
                            <div class="title-2-text price-package__feature-value">1</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">HD display</div>
                            <div class="title-2-text price-package__feature-value">HD</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Customer Support</div>
                            <div class="title-2-text price-package__feature-value">Form</div>
                        </div>
                    </li>
                </ul>
                <div class="price-package__divider"></div>
                <p class="title-2-text">
                    Features -
                    <span style="font-style: italic; color: rgba(41, 150, 174);">Coming soon</span>
                </p>
                <ul class="price-package__feature-list">
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Tv Wall Display</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Order Notifcation</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Order Online</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Menu Online</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">QR Code - mobile menu</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="price-package price-package--highlight">
                <div class="h1-text price-package__name">Basic</div>
                <div class="title-1 price-package__caption">Better for growing businesses</div>
                <div class="h4-text price-package__price">
                    <div class="h4-text">
                        $15
                    </div>
                    <div class="body-text price-package__price-time-unit">
                        USD/month
                    </div>
                </div>
                <button class="title-2-text price-package__get-button price-package__get-button--highlight">
                    Start Free 14-Day Trial
                </button>
                <ul class="price-package__feature-list">
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Menu Listing - Quanlity products</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                50</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Branding template</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                3+</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Media file size storage</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                500MB</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Display Device</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                2</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">HD display</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                1080 HD</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Customer Support</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                48 hours turn-around</div>
                        </div>
                    </li>
                </ul>
                <div class="price-package__divider"></div>
                <p class="title-2-text">
                    Features -
                    <span style="font-style: italic;">Coming soon</span>
                </p>
                <ul class="price-package__feature-list">
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Tv Wall Display</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Order Notifcation</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Order Online</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Menu Online</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">QR Code - mobile menu</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="price-package" style="padding-left: 2.25rem;">
                <div class="h1-text price-package__name" style="position: relative;">
                    Pro
                    <img src="../asset/img/icon/crown.svg" alt="Crown"
                        style="display: block; position: absolute; top: 7px; left: 50px;">
                </div>
                <div class="title-1 price-package__caption">Advanced features for pros</div>
                <div class="h4-text price-package__price">
                    <div class="h4-text">
                        $35
                    </div>
                    <div class="body-text price-package__price-time-unit">
                        USD/month
                    </div>
                </div>
                <button class="title-2-text price-package__get-button">
                    Start Free 14-Day Trial
                </button>
                <ul class="price-package__feature-list">
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Menu Listing - Quanlity products</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                200</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Branding template</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                10+</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Media file size storage</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                5GB</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Display Device</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                5</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">HD display</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                4K</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Customer Support</div>
                            <div
                                class="title-2-text price-package__feature-value price-package__feature-value--highlight">
                                24 hours turn-around</div>
                        </div>
                    </li>
                </ul>
                <div class="price-package__divider"></div>
                <p class="title-2-text">
                    Features -
                    <span style="font-style: italic;">Coming soon</span>
                </p>
                <ul class="price-package__feature-list">
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Tv Wall Display</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Order Notifcation</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Order Online</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">Menu Online</div>
                        </div>
                    </li>
                    <li>
                        <div class="price-package__feature">
                            <div class="title-2-text price-package__feature-name">QR Code - mobile menu</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>