<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template List</title>
    <link rel="stylesheet" href="../css/grid.css" />
    <link rel="stylesheet" href="/css/template_list.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/70d145d8f0.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="grid wrapper">
      <div class="row">
        <!-- sidebar take 20% screen width -->
        <div class="col c-2-4">
          <div class="sidebar">Sidebar here</div>
        </div>
        <!-- content -->
        <div class="col">
          <h2>Templates</h2>

          <!-- begin: view header -->
          <div class="row view-header">
            <ul class="view-select">
              <li
                class="view-select__option view-select__option--active"
                data-view="list-view"
              >
                <i class="fa-solid fa-bars"></i>
              </li>
              <li class="view-select__option" data-view="grid-view">
                <i class="fa-solid fa-grip"></i>
              </li>
            </ul>

            <div class="search">
              <i class="fa-solid fa-magnifying-glass search__icon"></i>
              <input
                type="search"
                id="search__input"
                name="search-input"
                placeholder="Search"
              />
            </div>

            <div class="custom-select" style="width: 200px; height: 34px;">
              <select name="" id="">
                <option value="1">All</option>
                <option value="2">4:3</option>
                <option value="3">16:9</option>
              </select>
            </div>
          </div>
          <!-- end: view header -->

          <div class="view-main">
            <!-- begin: list view -->
            <div class="view-wrap list-view" style="display: block">
              <div class="list-view__header">
                <div class="header-thumbnail"><h4>Thumbnail</h4></div>
                <div claass="header-template-name"><h4>Temp name</h4></div>
                <div class="header-title"><h4>Title</h4></div>
                <div class="header-ratios"><h4>Ratios</h4></div>
                <div class="header-subject"><h4>Subject</h4></div>
                <div class="header-status"><h4>Status</h4></div>
                <div class="header-created"><h4>Created</h4></div>
              </div>

              <div class="view-item">
                <div class="view-item__thumbnail">
                  <img
                    src="../asset/img/temp_nail_1_ratio_16_9.jpg"
                    alt="thumbnail"
                  />
                </div>
                <div class="view-item__name">
                  <p>Nail 1</p>
                </div>
                <div class="view-item__title">
                  <p>Lorem ispum</p>
                </div>
                <div class="view-item__ratios">
                  <p>4:3 16:9 16:10 21:9 32:9</p>
                </div>
                <div class="view-item__subject">
                  <p>Nail salon</p>
                </div>
                <div class="view-item__status">
                  <p>OK</p>
                </div>
                <div class="view-item__created">
                  <p>26/09/23</p>
                </div>
              </div>

              <div class="view-item">
                <div class="view-item__thumbnail">
                  <img
                    src="../asset/img/temp_nail_2_ratio_16_9.jpg"
                    alt="thumbnail"
                  />
                </div>
                <div class="view-item__name">
                  <p>Nail 2</p>
                </div>
                <div class="view-item__title">
                  <p>Lorem ispum</p>
                </div>
                <div class="view-item__ratios">
                  <p>4:3 16:9 16:10 21:9 32:9</p>
                </div>
                <div class="view-item__subject">
                  <p>Nail salon</p>
                </div>
                <div class="view-item__status">
                  <p>OK</p>
                </div>
                <div class="view-item__created">
                  <p>26/09/23</p>
                </div>
              </div>

              <div class="view-item">
                <div class="view-item__thumbnail">
                  <img
                    src="../asset/img/temp_nail_3_ratio_16_9.jpg"
                    alt="thumbnail"
                  />
                </div>
                <div class="view-item__name">
                  <p>Nail 3</p>
                </div>
                <div class="view-item__title">
                  <p>Lorem ispum</p>
                </div>
                <div class="view-item__ratios">
                  <p>4:3 16:9 16:10 21:9 32:9</p>
                </div>
                <div class="view-item__subject">
                  <p>Nail salon</p>
                </div>
                <div class="view-item__status">
                  <p>OK</p>
                </div>
                <div class="view-item__created">
                  <p>26/09/23</p>
                </div>
              </div>
            </div>
            <!-- end: list view -->

            <!-- begin: grid view -->
            <div class="view-wrap grid-view" style="display: none">
              <div class="view-item">
                <div class="view-item__thumbnail">
                  <img
                    src="../asset/img/temp_nail_1_ratio_16_9.jpg"
                    alt="thumbnail"
                  />
                </div>
                <div class="view-item__title">Tempnail 1 Title</div>
                <div class="view-item__ratios">
                  <div class="ratio-card">4:3</div>
                  <div class="ratio-card">16:9</div>
                  <div class="ratio-card">16:10</div>
                  <div class="ratio-card">21:9</div>
                  <div class="ratio-card">32:9</div>
                </div>
                <div class="view-item__name">Nail 1</div>

                <div class="row">
                  <div class="col c-6 view-item__created">26/09/23</div>
                  <div class="col c-4 view-item__subject">Nail salon</div>
                  <!-- <div class="col view-item__status"> Run OK</div> -->
                </div>
              </div>

              <div class="view-item">
                <div class="view-item__thumbnail">
                  <img
                    src="../asset/img/temp_nail_2_ratio_16_9.jpg"
                    alt="thumbnail"
                  />
                </div>
                <div class="view-item__title">Tempnail 2 Title</div>
                <div class="view-item__ratios">
                  <div class="ratio-card">4:3</div>
                  <div class="ratio-card">16:9</div>
                  <div class="ratio-card">16:10</div>
                  <div class="ratio-card">21:9</div>
                  <div class="ratio-card">32:9</div>
                </div>
                <div class="view-item__name">Nail 2</div>

                <div class="row">
                  <div class="col c-6 view-item__created">26/09/23</div>
                  <div class="col c-4 view-item__subject">Nail salon</div>
                  <!-- <div class="col view-item__status"> Run OK</div> -->
                </div>
              </div>

              <div class="view-item">
                <div class="view-item__thumbnail">
                  <img
                    src="../asset/img/temp_nail_3_ratio_16_9.jpg"
                    alt="thumbnail"
                  />
                </div>
                <div class="view-item__title">Tempnail 3 Title</div>
                <div class="view-item__ratios">
                  <div class="ratio-card">4:3</div>
                  <div class="ratio-card">16:9</div>
                  <div class="ratio-card">16:10</div>
                  <div class="ratio-card">21:9</div>
                  <div class="ratio-card">32:9</div>
                </div>
                <div class="view-item__name">Nail 3</div>

                <div class="row">
                  <div class="col c-6 view-item__created">26/09/23</div>
                  <div class="col c-4 view-item__subject">Nail salon</div>
                  <!-- <div class="col view-item__status"> Run OK</div> -->
                </div>
              </div>
            </div>
            <!-- end: grid view -->
          </div>
        </div>
        <!-- content -->
      </div>
    </div>
    <script src="../js/custom_select_input.js"></script>

    <script src="../js/grid_list_view.js"></script>
  </body>
</html>
