<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/warning_popup.css">
    <title>Warning popup</title>
</head>

<body>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id esse minima, repellendus fugit voluptatum
        blanditiis quos! Debitis, ad nostrum voluptates voluptate in quas porro culpa obcaecati facere error eos
        assumenda.
    </p>
    <div class="warning-popup">
        <div class="warning-popup__modal">
            <div class="warning-popup__popup" style="width: 300px;">
                <div class="warning-popup__title">Error</div>
                <div class="warning-popup__content">Opp! Something wrong</div>
                <div class="warning-popup__footer">
                    <button class="warning-popup__button">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>